Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

fix(worker): clamp min to max and use update_fields on save
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(worker): roll back autoscaling ceiling on ECS failure
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

test(worker): assert scale-down policy uses clamped min in clamp test
  tests/unit/challenges/test_aws_utils.py
Due: none

fix(worker): log error when rollback auto-scaling reconciliation fails
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

test(admin): add max/min_ecs_workers to expected list_display fields
  tests/unit/challenges/test_admin.py
Due: none

fix(worker): persist autoscaling min/max_ecs_workers on Challenge model (#5164)
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0128_challenge_max_workers.py
  apps/challenges/models.py
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

docs(model): add help_text to workers, max/min_ecs_workers fields
  apps/challenges/migrations/0129_add_ecs_worker_help_text.py
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

docs(model): add help_text to every remaining Challenge field
  apps/challenges/migrations/0130_add_challenge_field_help_text.py
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

docs(model): add help_text to workers, max/min_ecs_workers fields (#5165)
  apps/challenges/migrations/0129_add_ecs_worker_help_text.py
  apps/challenges/migrations/0130_add_challenge_field_help_text.py
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

fix(ci): renumber migration 0128 to 0131 and guard SES settings access
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0131_challengeevaluationcluster_nodegroup_name.py
Due: backend, Challenges Management, Utility Functions

fix(challenges): harden EKS node autoscaling against silent failures (#5162)
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0131_challengeevaluationcluster_nodegroup_name.py
  apps/challenges/models.py
  apps/challenges/urls.py
  apps/challenges/views.py
  docs/source/04-development/deployment/scaling-guidelines.md
  scripts/lambda/auto_scale_eks_nodes_lambda.py
  scripts/lambda/deploy_auto_scale_eks_nodes_lambda.sh
  settings/common.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/lambda/test_auto_scale_eks_nodes_lambda.py
Due: backend, Challenges Management, All Models, All Views, Utility Functions, Core Configuration

feat(sqs): add per-challenge FIFO SQS queue support
  apps/base/utils.py
  apps/challenges/migrations/0131_challenge_use_fifo_sqs.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  apps/jobs/sender.py
  scripts/workers/submission_worker.py
  tests/unit/challenges/test_utils.py
  tests/unit/jobs/test_sender.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, All Serializers, Utility Functions

fix: address CodeRabbit review and CI failures
  apps/challenges/serializers.py
  apps/jobs/sender.py
  scripts/workers/submission_worker.py
  tests/unit/jobs/test_sender.py
Due: backend, Challenges Management, Job Processing, All Serializers

fix(migration): renumber to 0132 to resolve conflict with master
  apps/challenges/migrations/0132_challenge_use_fifo_sqs.py
Due: backend, Challenges Management

style: use f-string in get_queue_name return
  apps/base/utils.py
Due: backend, Utility Functions

test: use deterministic title in fifo long-title test
  tests/unit/challenges/test_utils.py
Due: none

test: add use_fifo_sqs to expected responses and fix worker queue assertions
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
  tests/unit/worker/test_submission_worker.py
Due: none

test: add FIFO queue resolution test for worker
  tests/unit/worker/test_submission_worker.py
Due: none

test: fix other-client-error test to match base.utils behavior
  tests/unit/jobs/test_sender.py
Due: none

feat(sqs): add per-challenge FIFO SQS queue support (#5166)
  apps/base/utils.py
  apps/challenges/migrations/0132_challenge_use_fifo_sqs.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  apps/jobs/sender.py
  scripts/workers/submission_worker.py
  tests/unit/challenges/test_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/jobs/test_sender.py
  tests/unit/participants/test_views.py
  tests/unit/worker/test_submission_worker.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, All Serializers, Utility Functions

Handle inactive ECS task definitions during worker updates
  apps/challenges/aws_utils.py
  apps/challenges/task_definitions.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Set min_ecs_workers default to 1
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0133_alter_challenge_min_ecs_workers_default.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

Format aws_utils min_ecs_workers fallback for black
  apps/challenges/aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(ecs): strip .fifo suffix from ECS service names
  apps/challenges/aws_utils.py
Due: backend, Challenges Management, Utility Functions

test: add get_ecs_service_name unit tests
  tests/unit/challenges/test_aws_utils.py
Due: none

fix: replace removesuffix with slicing for Python 3.7+ compat
  apps/challenges/aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(ecs): strip .fifo suffix from ECS service names (#5169)
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(ecs): strip .fifo suffix from ECS service names (#5169)
  apps/challenges/aws_utils.py
  apps/challenges/task_definitions.py
  apps/challenges/views.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Views, Utility Functions

fix(ecs): strip .fifo suffix from ECS service names (#5169) (#5170)
  apps/challenges/aws_utils.py
  apps/challenges/task_definitions.py
  apps/challenges/views.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Views, Utility Functions

ECS Fargate: Set min_ecs_workers default to 1 (#5168)
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0133_alter_challenge_min_ecs_workers_default.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

fix(ecs): handle missing ECS service during worker task definition refresh
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(ecs): sanitize FIFO queue names for ECS task definition families
  apps/challenges/aws_utils.py
  apps/challenges/views.py
  scripts/lambda/challenge_cleanup_lambda.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Views, Utility Functions

fix(ecs): sanitize FIFO queue names for ECS task definition families (#5172)
  apps/challenges/aws_utils.py
  apps/challenges/views.py
  scripts/lambda/challenge_cleanup_lambda.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Views, Utility Functions

Fix deployment ordering for worker refresh
  scripts/deployment/deploy.sh
Due: none

Fix ECS service utility test fixtures
  tests/unit/challenges/test_aws_utils.py
Due: none

CI-CD: Fix deployment ordering for worker refresh (#5173)
  scripts/deployment/deploy.sh
Due: none

Tests: Fix ECS service utility test fixtures (#5174)
  tests/unit/challenges/test_aws_utils.py
Due: none

test: verify ECS recovery client token generation
  tests/unit/challenges/test_aws_utils.py
Due: none

Sort AWS utility test imports
  tests/unit/challenges/test_aws_utils.py
Due: none

fix(sqs): make FIFO MessageDeduplicationId unique per enqueue
  apps/jobs/sender.py
  tests/unit/jobs/test_sender.py
Due: backend, Job Processing

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
