Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

Relax post-approval YAML lock to structural config only
  apps/challenges/challenge_config_utils.py
  tests/unit/challenges/test_challenge_config_utils.py
Due: backend, Challenges Management

Tests: Remove unused imports after phase lock test cleanup
  tests/unit/challenges/test_challenge_config_utils.py
Due: none

Backend: Relax post-approval YAML lock to structural config only (#5129)
  apps/challenges/challenge_config_utils.py
  tests/unit/challenges/test_challenge_config_utils.py
Due: backend, Challenges Management

Scout: Regenerate initial migration
  apps/scout/migrations/0001_initial.py
  apps/scout/migrations/0002_alter_scoutchallenge_canonical_key.py
  apps/scout/migrations/0003_alter_model_ordering.py
Due: backend

Scout: Regenerate initial migration (#5130)
  apps/scout/migrations/0001_initial.py
  apps/scout/migrations/0002_alter_scoutchallenge_canonical_key.py
  apps/scout/migrations/0003_alter_model_ordering.py
Due: backend

Stop tracking production and staging Docker env files.
  .gitignore
  docker/prod/docker_production.env.example
  docker/prod/docker_staging.env.example
Due: none

Stop tracking production and staging Docker env files. (#5131)
  .gitignore
  docker/prod/docker_production.env.example
  docker/prod/docker_staging.env.example
Due: none

Fix CI image push by fetching docker env file from S3 before compose.
  scripts/deployment/push.sh
Due: none

Fix CI deployment by using placeholder env file during image build.
  scripts/deployment/push.sh
Due: none

Github Actions: Fix CI deployment by using placeholder env file during image build. (#5132)
  scripts/deployment/push.sh
Due: none

Run migrations before starting django on deploy.
  scripts/deployment/deploy.sh
Due: none

Run migrations before starting django on deploy. (#5133)
  scripts/deployment/deploy.sh
Due: none

Fix nodejs Docker build apt retry after partial install failures.
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
Due: none

Fix nodejs Docker build apt retry after partial install failures. (#5134)
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
Due: none

Fix password reset email enumeration vulnerability
  apps/accounts/serializers.py
  apps/accounts/templates/account/password_reset_done.html
  apps/accounts/views.py
  evalai/urls.py
  frontend/src/views/web/auth/reset-password.html
  tests/unit/accounts/test_serializers.py
  tests/unit/accounts/test_views.py
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp), All Views, All Serializers, Core Configuration

Fix black formatting in password reset view tests
  tests/unit/accounts/test_views.py
Due: none

Add Cursor agent build verification config
  .cursor/environment.json
  .cursor/rules/verify-builds.mdc
  .gitignore
  AGENTS.md
  scripts/run-all-tests.sh
Due: none

Backend: Fix password reset email enumeration vulnerability (#5135)
  apps/accounts/serializers.py
  apps/accounts/templates/account/password_reset_done.html
  apps/accounts/views.py
  evalai/urls.py
  frontend/src/views/web/auth/reset-password.html
  tests/unit/accounts/test_serializers.py
  tests/unit/accounts/test_views.py
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp), All Views, All Serializers, Core Configuration

Scope container lookup to COMPOSE_PROJECT_NAME
  AGENTS.md
  scripts/run-all-tests.sh
Due: none

Backend: Add Cursor agent build verification config (#5136)
  .cursor/environment.json
  .cursor/rules/verify-builds.mdc
  .gitignore
  AGENTS.md
  scripts/run-all-tests.sh
Due: none

Backend: Add password reset rate limiting to prevent email flooding
  apps/accounts/throttles.py
  apps/accounts/views.py
  settings/common.py
  tests/unit/accounts/test_throttles.py
  tests/unit/accounts/test_views.py
Due: backend, Accounts & Authentication, All Views, Core Configuration

Fix password reset throttle tests and address CodeRabbit review
  apps/accounts/views.py
  tests/unit/accounts/test_views.py
Due: backend, Accounts & Authentication, All Views

Mitigate signup DoS from oversized password payloads
  apps/accounts/serializers.py
  apps/accounts/throttles.py
  apps/accounts/validators.py
  apps/accounts/views.py
  apps/challenges/serializers.py
  frontend/src/views/web/auth/login.html
  frontend/src/views/web/auth/reset-password-confirm.html
  frontend/src/views/web/auth/signup.html
  frontend/src/views/web/challenge-invite.html
  frontend/src/views/web/change-password.html
  settings/common.py
  tests/unit/accounts/test_validators.py
  tests/unit/accounts/test_views.py
  tests/unit/challenges/test_serializers.py
Due: backend, frontend, Accounts & Authentication, Challenges Management, Frontend (Gulp), All Views, All Serializers, Core Configuration

Fix CI: restore upload limit, fix isort, bound login endpoint passwords
  apps/accounts/serializers.py
  apps/accounts/views.py
  evalai/urls.py
  settings/common.py
  tests/unit/accounts/test_validators.py
  tests/unit/accounts/test_views.py
Due: backend, Accounts & Authentication, All Views, All Serializers, Core Configuration

Use BoundedAuthTokenSerializer in login post handler
  apps/accounts/views.py
Due: backend, Accounts & Authentication, All Views

Security: Codify clickjacking protection headers in nginx and Django
  docker/prod/nodejs/nginx_production.conf
  docker/prod/nodejs/nginx_staging.conf
  settings/common.py
Due: Core Configuration

Address CodeRabbit feedback and improve patch coverage
  apps/accounts/serializers.py
  apps/accounts/throttles.py
  apps/accounts/validators.py
  settings/prod.py
  tests/unit/accounts/test_serializers.py
  tests/unit/accounts/test_throttles.py
  tests/unit/accounts/test_validators.py
  tests/unit/accounts/test_views.py
Due: backend, Accounts & Authentication, All Serializers, Core Configuration

Apply black formatting to account view tests
  tests/unit/accounts/test_views.py
Due: none

Add date validation constraints for challenge and challenge phase models
  apps/challenges/models.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Models

review: fix is_active null guard, add serializer validation, fix phase ordering test
  apps/challenges/models.py
  apps/challenges/serializers.py
  tests/unit/challenges/test_models.py
Due: backend, Challenges Management, All Models, All Serializers

review: handle partial PATCH updates in serializer validate methods
  apps/challenges/serializers.py
Due: backend, Challenges Management, All Serializers

style: use getattr(self.instance) fallback in serializer validate methods
  apps/challenges/serializers.py
Due: backend, Challenges Management, All Serializers

Fix worker image resolution when worker_python_version differs from stored ECR URL
  apps/challenges/aws_utils.py
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Code Upload Worker: install git for kubectl kustomize remote bases
  docker/dev/code-upload-worker/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
Due: none

Fix CI worker image builds and Cloud Agent Docker bootstrap
  .cursor/environment.json
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
  scripts/cloud-agent/bootstrap-docker.sh
Due: none

Fix Cloud Agent Docker bootstrap for Ubuntu Noble and black formatting
  AGENTS.md
  apps/challenges/aws_utils.py
  scripts/cloud-agent/bootstrap-docker.sh
Due: backend, Challenges Management, Utility Functions

Move Cloud Agent install script to cloud-agent/install.sh
  .cursor/environment.json
  AGENTS.md
  cloud-agent/install.sh
Due: none

Worker py3.9: pin PyYaml for runtime import verification
  requirements/worker_py3_9.txt
Due: none

Address remaining CodeRabbit review feedback
  cloud-agent/install.sh
  tests/unit/challenges/test_aws_utils.py
Due: none

Fix black formatting in worker image refresh test
  tests/unit/challenges/test_aws_utils.py
Due: none
