Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

chore(git): ignore the ruff-format revision in git blame
  .git-blame-ignore-revs
Due: none

fix(settings): import os explicitly instead of inheriting it via star import
  pyproject.toml
  settings/dev.py
  settings/prod.py
  settings/staging.py
  settings/test.py
Due: Core Configuration

docs(agents): correct the ruff fix instructions in AGENTS.md
  AGENTS.md
Due: none

test(worker): assert the real exception propagates from the PUT branch
  tests/unit/worker/test_remote_submission_worker.py
Due: none

test(worker): assert exception identity and exercise the real HTTP error path
  tests/unit/worker/test_remote_submission_worker.py
Due: none

test(challenges): cover LeaderboardDataSerializer context injection
  tests/unit/challenges/test_serializers.py
Due: none

build(docker): install Python deps with uv in image builds
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix(docker): make uv image builds succeed on the pinned dependency set
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
  requirements/uv-build-constraints.txt
Due: none

fix(docker): set uv connect timeout alongside the read timeout
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

build(docker): install Python dependencies with uv in image builds (#5214)
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
  requirements/uv-build-constraints.txt
Due: none

Docs: Add Stripe customer portal link to pricing page
  docs/source/01-getting-started/pricing.md
Due: none

Docs: Add Stripe customer portal link to pricing page (#5215)
  docs/source/01-getting-started/pricing.md
Due: none

fix(docker): retry apt fetches instead of failing the build
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/nodejs/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/nodejs/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix(docker): retry apt update+install as a unit on failure
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/nodejs/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/nodejs/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix(docker): fail the build when apt retries are exhausted
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/nodejs/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/nodejs/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

build(docker): migrate base images from Debian bullseye to bookworm
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/nodejs/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/nodejs/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

build(docker): migrate base images from Debian bullseye to bookworm (#5218)
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/nodejs/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/nodejs/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix(worker): bump pycocotools to 2.0.7 so uv can install the py3.7/3.8 stack
  requirements/worker_py3_7.txt
  requirements/worker_py3_8.txt
Due: none

fix(worker): bump pycocotools to 2.0.7 so uv can install the py3.7/3.8 stack (#5219)
  requirements/worker_py3_7.txt
  requirements/worker_py3_8.txt
Due: none

fix(worker): derive permissive pip constraints for challenge installs
  docs/source/02-for-challenge-hosts/evaluation/evaluation-scripts.md
  requirements/worker_py3_7.txt
  requirements/worker_py3_8.txt
  requirements/worker_py3_9.txt
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

fix(worker): correct relaxed-pins warning on fallback; doc override root
  docs/source/02-for-challenge-hosts/evaluation/evaluation-scripts.md
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

test(worker): assert exact fallback warning fragments
  tests/unit/worker/test_submission_worker.py
Due: none

fix(worker): derive permissive pip constraints for challenge installs (#5220)
  docs/source/02-for-challenge-hosts/evaluation/evaluation-scripts.md
  requirements/worker_py3_7.txt
  requirements/worker_py3_8.txt
  requirements/worker_py3_9.txt
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

fix(base): use base64.encodebytes so encode_data works on Python 3.9+
  apps/base/utils.py
  tests/unit/base/test_utils.py
Due: backend, Utility Functions

fix(jobs): return 400 instead of 500 for malformed multipart `parts`
  apps/challenges/views.py
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Challenges Management, Job Processing, All Views

fix(base): strip base64 padding without leaving whitespace behind
  apps/base/utils.py
  tests/unit/base/test_utils.py
Due: backend, Utility Functions

fix(jobs): catch RecursionError when parsing multipart `parts`
  apps/challenges/views.py
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Challenges Management, Job Processing, All Views

fix(jobs): accept all boolean spellings for submission `is_public`
  apps/jobs/utils.py
  apps/jobs/views.py
  tests/unit/jobs/test_utils.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views, Utility Functions

test(jobs): assert `is_public` is actually accepted, not merely not-500
  tests/unit/jobs/test_views.py
Due: none

fix(jobs): coerce `is_public` before testing it in visibility updates
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views

fix(jobs): stamp when_made_public with an aware datetime
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views

test(jobs): cover `is_public` parsing on the presigned-URL endpoint
  tests/unit/jobs/test_views.py
Due: none

test(jobs): join the participant team so the timestamp test runs
  tests/unit/jobs/test_views.py
Due: none

test(jobs): join the participant team so the visibility tests run
  tests/unit/jobs/test_views.py
Due: none

fix(frontend): fix inert View button on leaderboard meta attributes
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/leaderboard.html
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

fix(frontend): recompute meta attributes visibility on every leaderboard load
  frontend/src/js/controllers/challengeCtrl.js
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

Fix inert View button in leaderboard Meta Attributes column (#5232)
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/leaderboard.html
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

fix(worker): stop code-upload worker crashing on a Job with no pods
  scripts/workers/code_upload_submission_worker.py
  tests/unit/worker/test_code_upload_submission_worker.py
Due: none

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
