Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Reduce announcement banner width and center it on the page
  frontend/src/css/modules/main-header.scss
  frontend/src/views/web/partials/main-header.html
Due: frontend, Frontend (Gulp)

Frontend: Slim paid-plan announcement banner while keeping full width.
  frontend/src/css/modules/landing.scss
  frontend/src/css/modules/main-header.scss
  frontend/src/css/modules/sidebar.scss
  frontend/src/css/modules/variables.scss
  frontend/src/css/modules/web.scss
Due: frontend, Frontend (Gulp)

Security: Harden challenge invitation acceptance endpoint
  apps/challenges/serializers.py
  apps/challenges/views.py
Due: backend, Challenges Management, All Views, All Serializers

Security: Replace eval() when parsing challenge invite emails
  apps/challenges/utils.py
  apps/challenges/views.py
  tests/unit/challenges/test_utils.py
Due: backend, Challenges Management, All Views, Utility Functions

Security: Require host team membership for zip challenge APIs
  apps/challenges/utils.py
  apps/challenges/views.py
Due: backend, Challenges Management, All Views, Utility Functions

Security: Prevent zip slip during archive extraction
  apps/base/utils.py
  apps/challenges/challenge_config_utils.py
  apps/challenges/views.py
  scripts/workers/remote_submission_worker.py
  scripts/workers/submission_worker.py
Due: backend, Challenges Management, All Views, Utility Functions

Security: Sanitize mathjaxBind content to prevent stored XSS
  frontend/src/js/directives/directives.js
Due: frontend, Frontend (Gulp)

Security: Restrict public subscribe and team member endpoints
  apps/web/urls.py
  apps/web/views.py
  tests/unit/web/test_views.py
Due: backend, Web Interface, All Views

Security: Require challenge host role for challenge setup mutations
  apps/challenges/utils.py
  apps/challenges/views.py
Due: backend, Challenges Management, All Views, Utility Functions

Security: Enforce host checks in challenge setup view handlers
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Security: Apply host authorization checks to remaining setup endpoints
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Security: Fail production startup when SECRET_KEY is insecure
  settings/prod.py
Due: Core Configuration

Security: Allowlist staff challenge attribute updates
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Security: Add rate limiting to internal Lambda API endpoints
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Security: Add rate limiting to internal Lambda API endpoints (#5113)
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Security: Sanitize mathjaxBind content to prevent stored XSS (#5108)
  frontend/src/js/directives/directives.js
Due: frontend, Frontend (Gulp)

Address CodeRabbit review: dedupe invite emails and add parser tests.
  apps/challenges/utils.py
  tests/unit/challenges/test_utils.py
Due: backend, Challenges Management, Utility Functions

Address CodeRabbit review: fix host team auth order and status filter.
  apps/challenges/utils.py
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views, Utility Functions

Address CodeRabbit review: harden invitation acceptance flow.
  apps/challenges/serializers.py
  apps/challenges/views.py
Due: backend, Challenges Management, All Views, All Serializers

Address CodeRabbit review: isolate zip extraction from Django imports.
  apps/base/utils.py
  apps/base/zip_utils.py
  apps/challenges/challenge_config_utils.py
  apps/challenges/views.py
  scripts/workers/remote_submission_worker.py
  scripts/workers/submission_worker.py
Due: backend, Challenges Management, All Views, Utility Functions

Address CodeRabbit review: reject empty and whitespace SECRET_KEY values.
  settings/prod.py
Due: Core Configuration

Address CodeRabbit review: fix subscribe response and mutable team data.
  apps/web/views.py
Due: backend, Web Interface, All Views

Address CodeRabbit review: require active host membership for mutations.
  apps/challenges/utils.py
Due: backend, Challenges Management, Utility Functions

Fix isort ordering for challenge host helper imports.
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Exclude approved_by_admin and is_frozen from staff attribute allowlist.
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Security: Allowlist staff challenge attribute updates (#5114)
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Security: Fail production startup when SECRET_KEY is insecure (#5115)
  settings/prod.py
Due: Core Configuration

Security: Restrict public subscribe and team member endpoints (#5116)
  apps/web/urls.py
  apps/web/views.py
  tests/unit/web/test_views.py
Due: backend, Web Interface, All Views

Frontend: Reduce announcement banner width and center it on the page (#5106)
  frontend/src/css/modules/main-header.scss
  frontend/src/views/web/partials/main-header.html
Due: frontend, Frontend (Gulp)

Docs: Add design spec for Yutori scouting integration
  docs/superpowers/specs/2026-06-06-yutori-scouting-design.md
Due: none

Docs: Add design spec for Yutori outreach email pipeline
  docs/superpowers/specs/2026-06-06-yutori-outreach-design.md
Due: none

Docs: Revise Yutori specs to top-level app and DB persistence
  docs/superpowers/specs/2026-06-06-yutori-outreach-design.md
  docs/superpowers/specs/2026-06-06-yutori-scouting-design.md
Due: none

Docs: Rename yutori_scout app to scout; move tests to tests/unit/scout/
  docs/superpowers/specs/2026-06-06-yutori-outreach-design.md
  docs/superpowers/specs/2026-06-06-yutori-scouting-design.md
Due: none

Scout: Rename Challenge model and merge outreach into single plan
  docs/superpowers/plans/2026-06-06-scout.md
  docs/superpowers/specs/2026-06-06-yutori-outreach-design.md
  docs/superpowers/specs/2026-06-06-yutori-scouting-design.md
Due: none

Scout: Have Scout model inherit base.models.TimeStampedModel
  docs/superpowers/plans/2026-06-06-scout.md
  docs/superpowers/specs/2026-06-06-yutori-scouting-design.md
Due: none

Frontend: Make announcement banner full-width with compact height.
  frontend/src/css/modules/landing.scss
  frontend/src/css/modules/main-header.scss
  frontend/src/css/modules/sidebar.scss
  frontend/src/css/modules/variables.scss
  frontend/src/views/web/partials/main-header.html
Due: frontend, Frontend (Gulp)

Address CodeRabbit review: fix nav overlap and Stylelint issues.
  frontend/src/css/modules/main-header.scss
  frontend/src/css/modules/variables.scss
  frontend/src/views/web/partials/main-header.html
Due: frontend, Frontend (Gulp)

Frontend: Increase announcement banner height and bold text.
  frontend/src/css/modules/main-header.scss
  frontend/src/css/modules/variables.scss
Due: frontend, Frontend (Gulp)

Frontend: Make announcement banner full-width with compact height. (#5118)
  frontend/src/css/modules/landing.scss
  frontend/src/css/modules/main-header.scss
  frontend/src/css/modules/sidebar.scss
  frontend/src/css/modules/variables.scss
  frontend/src/views/web/partials/main-header.html
Due: frontend, Frontend (Gulp)

Scout: Add schema-ready multi-scout support
  docs/superpowers/plans/2026-06-06-scout.md
  docs/superpowers/specs/2026-06-06-yutori-scouting-design.md
Due: none

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
