Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Fix unit test for challenge controller by updating expected chosenMetrics values from ['accuracy', 'loss'] to ['0', '1'] to reflect recent changes in data structure.
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

Add unit test to challenge controller for setting orderLeaderboardBy based on URL metric absence
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

Refactor: Update leaderboard ordering logic in challengeCtrl.js to set default order when the selected order is invalid. (#5066)
  frontend/src/js/controllers/challengeCtrl.js
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

Backend: Cache leaderboard endpoint responses to reduce slow DB query
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views

Backend: Apply black formatting to leaderboard cache tests
  tests/unit/jobs/test_views.py
Due: none

Implement submission pause handling in challenge submission workflow and fix flake8
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  apps/jobs/tasks.py
  apps/jobs/utils.py
  apps/jobs/views.py
  tests/unit/jobs/test_tasks.py
  tests/unit/jobs/test_utils.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views, Utility Functions

Backend: Implement submission pause handling in challenge submission workflow and fix flake8 (#5076)
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  apps/jobs/tasks.py
  apps/jobs/utils.py
  apps/jobs/views.py
  tests/unit/jobs/test_tasks.py
  tests/unit/jobs/test_utils.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views, Utility Functions

Infra: Bump Postgres image from 16.8 to 17.10
  docker-compose.yml
Due: none

Infra: Bump Postgres image from 16.8 to 17.10 (#5080)
  docker-compose.yml
Due: none

Backend: Add S3 submission retention tagging
  apps/base/utils.py
  apps/challenges/admin.py
  apps/challenges/migrations/0122_add_challenge_usage_and_retention_policy.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/utils.py
  apps/jobs/management/__init__.py
  apps/jobs/management/commands/__init__.py
  apps/jobs/management/commands/backfill_submission_artifact_retention_tags.py
  apps/jobs/migrations/0028_submission_artifact_upload_paths.py
  apps/jobs/models.py
  apps/jobs/s3_retention.py
  apps/jobs/tasks.py
  apps/jobs/views.py
  scripts/workers/submission_worker.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
  tests/unit/jobs/test_s3_retention.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, All Serializers, Utility Functions

Backend: Sync retention tests and S3 key normalization
  apps/jobs/s3_retention.py
  scripts/tools/list_ongoing_challenges_s3_usage.py
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
Due: backend, Job Processing

Tests: Cover retention Celery helpers and SubmissionArtifactFileName
  tests/unit/base/test_utils.py
  tests/unit/jobs/test_tasks.py
Due: none

Tests: Patch s3_retention enqueue helper in URL download task test
  tests/unit/jobs/test_tasks.py
Due: none

Backend: Add S3 submission retention tagging (#5081)
  apps/base/utils.py
  apps/challenges/admin.py
  apps/challenges/migrations/0122_add_challenge_usage_and_retention_policy.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/utils.py
  apps/jobs/management/__init__.py
  apps/jobs/management/commands/__init__.py
  apps/jobs/management/commands/backfill_submission_artifact_retention_tags.py
  apps/jobs/migrations/0028_submission_artifact_upload_paths.py
  apps/jobs/models.py
  apps/jobs/s3_retention.py
  apps/jobs/tasks.py
  apps/jobs/views.py
  scripts/tools/list_ongoing_challenges_s3_usage.py
  scripts/workers/submission_worker.py
  tests/unit/base/test_utils.py
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
  tests/unit/challenges/test_views.py
  tests/unit/jobs/test_s3_retention.py
  tests/unit/jobs/test_tasks.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, All Serializers, Utility Functions

Backend: Stabilize nested S3 paths for submission artifacts
  apps/base/utils.py
  scripts/workers/submission_worker.py
  tests/unit/base/test_utils.py
  tests/unit/worker/test_submission_worker.py
Due: backend, Utility Functions

Backend: Stabilize nested S3 paths for submission artifacts (#5082)
  apps/base/utils.py
  scripts/workers/submission_worker.py
  tests/unit/base/test_utils.py
  tests/unit/worker/test_submission_worker.py
Due: backend, Utility Functions

Improve submission artifact RCA with revision-aware logging.
  apps/base/utils.py
  apps/jobs/management/commands/verify_submission_artifact_paths.py
  apps/jobs/s3_retention.py
  apps/jobs/views.py
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
  scripts/deployment/push.sh
  scripts/workers/remote_submission_worker.py
  scripts/workers/submission_worker.py
Due: backend, Job Processing, All Views, Utility Functions

Backend: Improve submission artifact RCA with revision-aware logging. (#5083)
  apps/base/utils.py
  apps/jobs/management/commands/verify_submission_artifact_paths.py
  apps/jobs/s3_retention.py
  apps/jobs/views.py
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
  scripts/deployment/push.sh
  scripts/workers/remote_submission_worker.py
  scripts/workers/submission_worker.py
Due: backend, Job Processing, All Views, Utility Functions

Backend: Allow structural additions on challenge config zip updates.
  apps/challenges/challenge_config_utils.py
  apps/challenges/views.py
  tests/unit/challenges/test_challenge_config_utils.py
Due: backend, Challenges Management, All Views

Tests: Keep existing leaderboard in YAML for addition-after-creation cases.
  tests/unit/challenges/test_challenge_config_utils.py
Due: none

Backend: Freeze existing challenge config YAML after admin approval.
  apps/challenges/challenge_config_utils.py
  tests/unit/challenges/test_challenge_config_utils.py
Due: backend, Challenges Management

Tests: Cover post-approval config lock helpers for Codecov.
  tests/unit/challenges/test_challenge_config_utils.py
Due: none

Tests: Use Django TestCase for override_settings on lock coverage.
  tests/unit/challenges/test_challenge_config_utils.py
Due: none

Tests: Cover approved-lock call sites in challenge config validation.
  tests/unit/challenges/test_challenge_config_utils.py
Due: none

Tests: Fix phase lock integration YAML description resolution.
  tests/unit/challenges/test_challenge_config_utils.py
Due: none

Tests: Align phase YAML max_submissions* with DB for approved lock.
  tests/unit/challenges/test_challenge_config_utils.py
Due: none

Backend: Allow structural additions on challenge config zip updates (#5084)
  apps/challenges/challenge_config_utils.py
  apps/challenges/views.py
  tests/unit/challenges/test_challenge_config_utils.py
Due: backend, Challenges Management, All Views

Backend: Normalize approved-config lock field comparison.
  apps/challenges/challenge_config_utils.py
  tests/unit/challenges/test_challenge_config_utils.py
Due: backend, Challenges Management

Backend: Normalize approved-config lock field comparison. (#5085)
  apps/challenges/challenge_config_utils.py
  tests/unit/challenges/test_challenge_config_utils.py
Due: backend, Challenges Management

Fix deploy worker images: verify deps and isolate remote-worker build.
  .github/workflows/ci-cd.yml
  docker-compose-production.yml
  docker-compose-staging.yml
  docker/docker-compose.deploy-cache.yml
  docker/prod/remote_submission_worker/Dockerfile
  scripts/deployment/push.sh
Due: none

Backend: Optimize leaderboard query by splitting into two-stage fetch
  apps/jobs/utils.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, Utility Functions

Backend: Fix CI failures for leaderboard two-stage fetch
  apps/jobs/utils.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, Utility Functions

Remove legacy root documentation files instead of deprecating them.
  .readthedocs.yaml
  README.md
  docs/source/01-getting-started/installation.md
  docs/source/02-for-challenge-hosts/hosting-guide/host-challenge.md
  docs/source/04-development/deployment/worker-setup.md
  docs/source/07-troubleshooting/support/faq.md
  docs/source/08-reference/roadmap.md
  docs/source/approve_challenge.md
  docs/source/architecture.md
  docs/source/architecture_decisions.md
  docs/source/cite.md
  docs/source/configuration.md
  docs/source/contribution.rst
  docs/source/directory_structure.md
  docs/source/edit_evaluation_script.md
  docs/source/evaluation_scripts.md
  docs/source/faq(developers).md
  docs/source/github_based_challenge_setup.md
  docs/source/glossary.md
  docs/source/index.rst
  docs/source/make_submission_public_private_baseline.md
  docs/source/migrations.md
  docs/source/participate.md
  docs/source/pull_request.md
  docs/source/submission.md
Due: none

Point frontend doc links at new RTD paths and redirect host_challenge.html.
  .readthedocs.yaml
  frontend/src/views/web/challenge-create.html
  frontend/src/views/web/contact-us.html
Due: frontend, Frontend (Gulp)

Fix nodejs Docker xvfb install breaking Mesa GL dependencies.
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
Due: none

TravisCI: Fix nodejs Docker xvfb install breaking Mesa GL dependencies. (#5089)
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
Due: none

Update challenge configuration links to new ReadTheDocs paths.
  docs/source/02-for-challenge-hosts/hosting-guide/host-challenge.md
  frontend/src/views/web/challenge-create.html
Due: frontend, Frontend (Gulp)

Update challenge configuration links to new ReadTheDocs paths. (#5090)
  docs/source/02-for-challenge-hosts/hosting-guide/host-challenge.md
  frontend/src/views/web/challenge-create.html
Due: frontend, Frontend (Gulp)

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
