Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Update submission count in pagination and increase test submission limit in seed script (#4937)
  frontend/src/views/web/challenge/my-challenge-all-submission.html
  scripts/seed.py
Due: frontend, Frontend (Gulp)

Refactor leaderboard data processing to optimize database queries and enhance test coverage
  apps/jobs/utils.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, Utility Functions

Update test_utils.py to enhance leaderboard data mocking and improve test coverage
  tests/unit/jobs/test_utils.py
Due: none

Backend: Refactor leaderboard data processing to optimize database queries (#4940)
  apps/jobs/utils.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, Utility Functions

Refactor star_challenge view to optimize star count retrieval and enhance test coverage for multiple star scenarios
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Refactor star_challenge view to optimize star count retrieval and enhance test coverage for multiple star scenarios (#4942)
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Optimize database queries in participant view by replacing prefetch_related with select_related for team and creator relationships, improving performance in challenge retrieval.
  apps/participants/views.py
  tests/unit/participants/test_views.py
Due: backend, Participants & Teams, All Views

Enhance get_all_challenges view to use select_related for optimized database queries and add corresponding unit test to verify functionality.
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Backend: Optimize database queries in participant view. (#4943)
  apps/participants/views.py
  tests/unit/participants/test_views.py
Due: backend, Participants & Teams, All Views

Backend: Optimize get_all_challenges view (#4944)
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Add separate payments app to handle payment tier for challenges.
  apps/challenges/migrations/0114_add_payment_tier_field.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/payments/__init__.py
  apps/payments/admin.py
  apps/payments/apps.py
  apps/payments/management/__init__.py
  apps/payments/management/commands/__init__.py
  apps/payments/management/commands/setup_payment_tiers.py
  apps/payments/migrations/0001_initial.py
  apps/payments/migrations/__init__.py
  apps/payments/models.py
  apps/payments/serializers.py
  apps/payments/urls.py
  apps/payments/utils.py
  apps/payments/views.py
  evalai/urls.py
  settings/common.py
Due: backend, Challenges Management, All Models, All Views, All Serializers, Utility Functions, Core Configuration

Disable challenge submissions for free tier challenges
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/submission.html
Due: frontend, Frontend (Gulp)

Optimize SubmissionSerializer to reduce database queries and implement caching for challenge hosts. Enhance tests for query optimization and serializer behavior with prefetched data.
  apps/jobs/serializers.py
  apps/jobs/views.py
  tests/unit/jobs/test_serializer.py
Due: backend, Job Processing, All Views, All Serializers

Backend: Optimize SubmissionSerializer to reduce database queries. (#4945)
  apps/jobs/serializers.py
  apps/jobs/views.py
  tests/unit/jobs/test_serializer.py
Due: backend, Job Processing, All Views, All Serializers

Optimize get_featured_challenges view to reduce N+1 query issues by using select_related for related models. Add unit test to verify query efficiency and ensure proper serialization of creator data.
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Update README to remove Open Collective badges and modify uwsgi.ini for development auto-reload configuration.
  README.md
  docker/dev/django/uwsgi.ini
Due: none

Update README to remove Open Collective badges and modify uwsgi.ini for development auto-reload configuration. (#4947)
  README.md
  docker/dev/django/uwsgi.ini
Due: none

Update coverage configuration and Travis CI setup for frontend tests
  .coveragerc
  .travis.yml
  karma.conf.js
Due: none

Backend: Optimize challenge_phase_split_list to use select_related for related objects and add test to verify N+1 query avoidance.
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Enhance pre-commit configuration and cleanup script for improved code formatting
  .pre-commit-config.yaml
  scripts/tools/cleanup_code.sh
Due: none

feat: implement CloudWatch log retention based on challenge end date
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

Backend: Optimize get_featured_challenges view to reduce N+1 query issues. (#4946)
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Backed: Enhance ChallengeAdmin configuration by adding raw_id_fields (#4951)
  apps/challenges/admin.py
  settings/common.py
Due: backend, Challenges Management, Core Configuration

Backend: Optimize challenge_phase_split_list to use select_related for related objects and add test to verify N+1 query avoidance. (#4952)
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Added Unit Tests for get_slug
  tests/unit/base/test_utils.py
Due: none

Enhance Travis CI configuration for frontend and backend tests
  .travis.yml
  docker/dev/nodejs/Dockerfile
  frontend/tests/controllers-test/challengeListCtrl.test.js
Due: frontend, Frontend (Gulp)

Backend: Refactor get_participant_team_id_of_user_for_a_challenge to use a single query for improved performance and add comprehensive unit tests for various scenarios. (#4953)
  apps/participants/utils.py
  tests/unit/participants/test_utils.py
Due: backend, Participants & Teams, Utility Functions

Backend: Refactor get_participant_team_id_of_user_for_a_challenge to fix N+1 queries#4955)
  apps/participants/utils.py
  tests/unit/participants/test_utils.py
Due: backend, Participants & Teams, Utility Functions

Backend: Refactor get_remaining_submission_for_a_phase query to avoid N+1 queries (#4954)
  apps/jobs/utils.py
  apps/jobs/views.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, All Views, Utility Functions

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
