Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Backend: Handle ServiceNotFoundException in service_manager to sync challenge workers and create services as needed; add unit tests for new behavior. (#4992)
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Docs: fix incorrect requirements install path in troubleshooting and developer FAQ (#4991)
  docs/source/07-troubleshooting/support/faq.md
  docs/source/faq(developers).md
Due: none

Frontend: Refactor challenge list tab management to use controller scope for better state handling
  frontend/src/js/controllers/challengeListCtrl.js
  frontend/src/views/web/challenge-list.html
Due: frontend, Frontend (Gulp)

Backend: Introduce MAX_LEADERBOARD_QUERY_LIMIT setting to optimize leaderboard data queries and update filtering logic in calculate_distinct_sorted_leaderboard_data function to enhance performance.
  apps/jobs/utils.py
  settings/common.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, Utility Functions, Core Configuration

Frontend: Refactor challenge list tab management to use controller scope for better state handling (#4993)
  frontend/src/js/controllers/challengeListCtrl.js
  frontend/src/views/web/challenge-list.html
Due: frontend, Frontend (Gulp)

Document submission workflow invariants
  docs/source/submission.md
  docs/source/submission_workflow_invariants.md
Due: none

Disable start and end date changes by challenge hosts.
  apps/challenges/views.py
  apps/participants/views.py
  frontend/src/css/modules/edit-challenge.scss
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/challenge-page.html
  frontend/src/views/web/challenge/edit-challenge/edit-challenge-phase.html
  frontend/src/views/web/challenge/phases.html
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
Due: backend, frontend, Challenges Management, Participants & Teams, Frontend (Gulp), All Views

Add logic to skip date validation for non-staff users
  apps/challenges/challenge_config_utils.py
Due: backend, Challenges Management

Backend: Fix N+1 queries, improve error handling, and add documentation
  apps/challenges/views.py
  apps/hosts/views.py
  apps/participants/views.py
  setup.cfg
Due: backend, Challenges Management, Participants & Teams, Challenge Hosts, All Views

Backend: Update ChallengeAdmin to replace 'featured' with 'remote_evaluation' in list_display and add unit test for filtering challenges by remote_evaluation.
  apps/challenges/admin.py
  tests/unit/challenges/test_admin.py
Due: backend, Challenges Management

Fix auth token error handling and edge cases
  apps/accounts/views.py
Due: backend, Accounts & Authentication, All Views

chore: format accounts views with black
  apps/accounts/views.py
Due: backend, Accounts & Authentication, All Views

Fix: harden submission analytics endpoints against QuerySet edge cases
  apps/analytics/views.py
Due: backend, Analytics, All Views

Backend: Optimize create_or_update_github_challenge function to prefetch challenge_phase_splits, reducing N+1 query issues during updates; add unit test to verify performance improvements.
  apps/challenges/views.py
  examples/example4/test_zip_file.zip
  examples/example4/test_zip_file/challenge_config.yaml
  examples/example4/test_zip_file/challenge_phase_description.html
  examples/example4/test_zip_file/description.html
  examples/example4/test_zip_file/evaluation_details.html
  examples/example4/test_zip_file/evaluation_script.zip
  examples/example4/test_zip_file/logo.png
  examples/example4/test_zip_file/submission_guidelines.html
  examples/example4/test_zip_file/terms_and_conditions.html
  examples/example4/test_zip_file/test_annotation.txt
  examples/example4/test_zip_file/zip_challenge.yaml
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Backend: Optimize create_or_update_github_challenge function to prefetch challenge_phase_splits, reducing N+1 query issues during updates; add unit test to verify performance improvements. (#5001)
  apps/challenges/views.py
  examples/example4/test_zip_file.zip
  examples/example4/test_zip_file/challenge_config.yaml
  examples/example4/test_zip_file/challenge_phase_description.html
  examples/example4/test_zip_file/description.html
  examples/example4/test_zip_file/evaluation_details.html
  examples/example4/test_zip_file/evaluation_script.zip
  examples/example4/test_zip_file/logo.png
  examples/example4/test_zip_file/submission_guidelines.html
  examples/example4/test_zip_file/terms_and_conditions.html
  examples/example4/test_zip_file/test_annotation.txt
  examples/example4/test_zip_file/zip_challenge.yaml
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Backend: Update ChallengeAdmin to replace 'featured' with 'remote_evaluation' in list_display and add unit test for filtering challenges by remote_evaluation. (#5000)
  apps/challenges/admin.py
  tests/unit/challenges/test_admin.py
Due: backend, Challenges Management

Backend: Enhance ProfileSerializer to lock specific fields after user participation in challenges requiring complete profile (#5002)
  apps/accounts/serializers.py
  apps/participants/utils.py
  frontend/src/js/controllers/profileCtrl.js
  frontend/src/js/controllers/updateProfileCtrl.js
  frontend/src/views/web/profile/edit-profile/update-profile.html
  frontend/src/views/web/update-profile.html
  frontend/tests/controllers-test/profileCtrl.test.js
  frontend/tests/controllers-test/updateProfileCtrl.test.js
  tests/unit/accounts/test_serializers.py
  tests/unit/participants/test_utils.py
Due: backend, frontend, Accounts & Authentication, Participants & Teams, Frontend (Gulp), All Serializers, Utility Functions

Backend: Update .gitignore to include local Postgres data directory and modify docker-compose.yml to mount Postgres data volume for persistent storage.
  .gitignore
  docker-compose.yml
Due: none

Backend: Update .gitignore to include local Postgres data directory and modify docker-compose.yml to mount Postgres data volume for persistent storage. (#5003)
  .gitignore
  docker-compose.yml
Due: none

Refactor profile update logic to allow saving individual fields while skipping blank fields. Update unit tests to verify behavior for non-empty fields and edited fields during profile updates.
  frontend/src/js/controllers/profileCtrl.js
  frontend/tests/controllers-test/profileCtrl.test.js
Due: frontend, Frontend (Gulp)

Refactor profile update logic to allow saving individual fields while skipping blank fields. Update unit tests to verify behavior for non-empty fields and edited fields during profile updates. (#5005)
  frontend/src/js/controllers/profileCtrl.js
  frontend/tests/controllers-test/profileCtrl.test.js
Due: frontend, Frontend (Gulp)

Restrict challenge management GET endpoints to hosts/creators
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

fix: patch 4 critical security vulnerabilities
  apps/jobs/utils.py
  apps/jobs/views.py
  scripts/workers/submission_worker.py
Due: backend, Job Processing, All Views, Utility Functions

Fix orphaned submissions when SQS publish fails
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views

Add base HTML template for challenges and update email utility to include host name
  apps/accounts/templates/account/base.html
  apps/challenges/templates/base.html
  apps/challenges/utils.py
  tests/unit/challenges/test_utils.py
Due: backend, Accounts & Authentication, Challenges Management, Utility Functions

Backend: Add base HTML template for challenges and update email utility to include host name (#5010)
  apps/accounts/templates/account/base.html
  apps/challenges/templates/base.html
  apps/challenges/utils.py
  tests/unit/challenges/test_utils.py
Due: backend, Accounts & Authentication, Challenges Management, Utility Functions

fix: use Submission.FAILED instead of undefined Submission.CANCELLED
  apps/jobs/views.py
Due: backend, Job Processing, All Views

fix: update tests to expect CANCELLED status on SQS publish failure
  tests/unit/jobs/test_views.py
Due: none

fix: revert to deleting submission on SQS publish failure
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views

Update Dockerfile and dev requirements to include git and pre-commit tools for improved development environment compatibility
  docker/dev/django/Dockerfile
  requirements/dev.txt
Due: none

Update development requirements to reorder and ensure inclusion of pre-commit, black, isort, and sphinx packages for consistent development environment setup.
  requirements/dev.txt
Due: none

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
