Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

Add tests to reach full patch coverage for invite email parsing.
  tests/unit/challenges/test_utils.py
Due: none

Security: Replace eval() when parsing challenge invite emails (#5109)
  apps/challenges/utils.py
  apps/challenges/views.py
  tests/unit/challenges/test_utils.py
Due: backend, Challenges Management, All Views, Utility Functions

Address CodeRabbit review: validate YAML-derived paths under extraction root.
  apps/base/zip_utils.py
  apps/challenges/challenge_config_utils.py
  apps/challenges/views.py
  scripts/workers/remote_submission_worker.py
  scripts/workers/submission_worker.py
Due: backend, Challenges Management, All Views, Utility Functions

Security: Require host team membership for zip challenge APIs (#5110)
  apps/challenges/utils.py
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views, Utility Functions

Potential fix for pull request finding 'Empty except'
  apps/challenges/challenge_config_utils.py
Due: backend, Challenges Management

Update README team section and add repository views badge.
  README.md
Due: none

Readme: Update README and add repository views badge. (#5123)
  README.md
Due: none

Scout: Address remaining CodeRabbit review feedback
  apps/participants/utils.py
  apps/scout/management/commands/scout_status.py
  apps/scout/models.py
  apps/scout/schema.py
  tests/unit/participants/test_utils.py
  tests/unit/scout/test_client.py
  tests/unit/scout/test_schema.py
Due: backend, Participants & Teams, All Models, Utility Functions

Scout: Hash canonical_key to fix max_length overflow
  apps/scout/dedup.py
  apps/scout/migrations/0002_alter_scoutchallenge_canonical_key.py
  apps/scout/models.py
  tests/unit/scout/test_dedup.py
  tests/unit/scout/test_outreach.py
  tests/unit/scout/test_tasks.py
Due: backend, All Models

Address remaining CodeRabbit review on zip path hardening.
  apps/base/zip_utils.py
  apps/challenges/challenge_config_utils.py
  apps/challenges/views.py
  tests/unit/base/test_zip_utils.py
Due: backend, Challenges Management, All Views, Utility Functions

Scout: Add migration for Meta.ordering tuple options
  apps/scout/migrations/0003_alter_model_ordering.py
Due: backend

Fix unit tests for zip path hardening changes.
  tests/unit/challenges/test_challenge_config_utils.py
  tests/unit/worker/test_remote_submission_worker.py
Due: none

Scout: Move Yutori API base URL and timeout to env settings
  apps/scout/client.py
  docker/dev/docker.env
  docker/prod/docker_production.env
  docker/prod/docker_staging.env
  settings/common.py
Due: backend, Core Configuration

Add tests for zip path traversal coverage gaps.
  tests/unit/base/test_zip_utils.py
  tests/unit/challenges/test_challenge_config_utils.py
  tests/unit/challenges/test_views.py
Due: none

Scout: Default SCOUT_PUBLIC_BASE_URL to EVALAI_API_SERVER
  apps/scout/management/commands/scout_create.py
  docker/dev/docker.env
  docker/prod/docker_production.env
  docker/prod/docker_staging.env
  settings/common.py
Due: backend, Core Configuration

Backend: Add scout app for Yutori-driven benchmark discovery and outreach (#5119)
  apps/base/utils.py
  apps/participants/utils.py
  apps/scout/__init__.py
  apps/scout/admin.py
  apps/scout/apps.py
  apps/scout/client.py
  apps/scout/dedup.py
  apps/scout/management/__init__.py
  apps/scout/management/commands/__init__.py
  apps/scout/management/commands/scout_create.py
  apps/scout/management/commands/scout_status.py
  apps/scout/migrations/0001_initial.py
  apps/scout/migrations/0002_alter_scoutchallenge_canonical_key.py
  apps/scout/migrations/0003_alter_model_ordering.py
  apps/scout/migrations/__init__.py
  apps/scout/models.py
  apps/scout/outreach.py
  apps/scout/prompt.py
  apps/scout/schema.py
  apps/scout/serializers.py
  apps/scout/tasks.py
  apps/scout/urls.py
  apps/scout/views.py
  docker/dev/docker.env
  docker/prod/docker_production.env
  docker/prod/docker_staging.env
  docs/superpowers/plans/2026-06-06-scout.md
  docs/superpowers/specs/2026-06-06-yutori-outreach-design.md
  docs/superpowers/specs/2026-06-06-yutori-scouting-design.md
  evalai/urls.py
  requirements/common.txt
  settings/common.py
  tests/unit/participants/test_utils.py
  tests/unit/scout/__init__.py
  tests/unit/scout/test_client.py
  tests/unit/scout/test_dedup.py
  tests/unit/scout/test_outreach.py
  tests/unit/scout/test_schema.py
  tests/unit/scout/test_tasks.py
  tests/unit/scout/test_webhook_view.py
Due: backend, Participants & Teams, All Models, All Views, All Serializers, Utility Functions, Core Configuration

Fix UnboundLocalError when test annotation path is unsafe.
  apps/challenges/challenge_config_utils.py
Due: backend, Challenges Management

Refresh ECS worker task definitions on deploy to fix stale ECR digests.
  .github/workflows/ci-cd.yml
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/management/__init__.py
  apps/challenges/management/commands/__init__.py
  apps/challenges/management/commands/refresh_worker_task_definitions.py
  apps/challenges/migrations/0125_challenge_worker_python_version.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  docs/source/04-development/deployment/production-deployment.md
  scripts/deployment/deploy.sh
  scripts/deployment/deploy_ec2_worker.sh
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, All Serializers, Utility Functions

Move worker Python version constants to challenges.constants.
  apps/challenges/aws_utils.py
  apps/challenges/constants.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/worker_utils.py
  scripts/deployment/deploy.sh
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Models, All Serializers, Utility Functions

Fix tests for worker_python_version serializer field.
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
Due: none

Add migration for worker_python_version help_text update.
  apps/challenges/migrations/0126_alter_challenge_worker_python_version.py
Due: backend, Challenges Management

Address CodeRabbit review feedback for worker refresh PR.
  apps/challenges/admin.py
  apps/challenges/management/commands/refresh_worker_task_definitions.py
  apps/challenges/migrations/0127_alter_challenge_worker_python_version_choices.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  docs/source/04-development/deployment/production-deployment.md
  scripts/deployment/deploy_ec2_worker.sh
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Models, All Serializers

Add tests to raise patch coverage for worker refresh changes.
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_refresh_worker_task_definitions_command.py
Due: none

Fix ECR env mapping, preserve task def ARNs, and harden worker image handling.
  apps/challenges/aws_utils.py
  apps/challenges/constants.py
  apps/challenges/serializers.py
  apps/challenges/worker_utils.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Serializers, Utility Functions

Fix refresh dry-run test failures.
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Add coverage tests for ECR env helpers and worker image validation.
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_worker_utils.py
Due: none

Address CodeRabbit review for safer task definition refresh.
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_worker_utils.py
Due: backend, Challenges Management, Utility Functions

Add tests to reach 100% patch coverage for worker refresh changes.
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_serializers.py
Due: none

Add tests for remaining aws_utils patch coverage gaps.
  tests/unit/challenges/test_aws_utils.py
Due: none

Add tests for final aws_utils patch coverage gaps.
  tests/unit/challenges/test_aws_utils.py
Due: none

Fix patch mock parameter order in aws_utils coverage tests.
  tests/unit/challenges/test_aws_utils.py
Due: none

Refresh ECS worker task definitions on deploy to fix stale ECR digests. (#5125)
  .github/workflows/ci-cd.yml
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/constants.py
  apps/challenges/management/__init__.py
  apps/challenges/management/commands/__init__.py
  apps/challenges/management/commands/refresh_worker_task_definitions.py
  apps/challenges/migrations/0125_challenge_worker_python_version.py
  apps/challenges/migrations/0126_alter_challenge_worker_python_version.py
  apps/challenges/migrations/0127_alter_challenge_worker_python_version_choices.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/worker_utils.py
  docs/source/04-development/deployment/production-deployment.md
  scripts/deployment/deploy.sh
  scripts/deployment/deploy_ec2_worker.sh
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_refresh_worker_task_definitions_command.py
  tests/unit/challenges/test_serializers.py
  tests/unit/challenges/test_views.py
  tests/unit/challenges/test_worker_utils.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, All Models, All Serializers, Utility Functions

Run migrations before refresh_worker_task_definitions on deploy.
  scripts/deployment/deploy.sh
Due: none

Fix Lambda invoke ValidationException when IAM role ARN is misconfigured.
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Apply black formatting to fix CI code quality check.
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Backend: Fix Lambda invoke ValidationException for misconfigured autoscale ARN (#5126)
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Security: Prevent zip slip during archive extraction (#5112)
  apps/base/zip_utils.py
  apps/challenges/challenge_config_utils.py
  apps/challenges/views.py
  scripts/workers/remote_submission_worker.py
  scripts/workers/submission_worker.py
  tests/unit/base/test_zip_utils.py
  tests/unit/challenges/test_challenge_config_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/worker/test_remote_submission_worker.py
Due: backend, Challenges Management, All Views, Utility Functions

Scout: Switch outreach sender from outreach@eval.ai to team@eval.ai
  docker/dev/docker.env
  settings/common.py
  tests/unit/scout/test_tasks.py
Due: Core Configuration

Scout: Switch outreach sender from outreach@eval.ai to team@eval.ai (#5127)
  docker/dev/docker.env
  settings/common.py
  tests/unit/scout/test_tasks.py
Due: Core Configuration

Invalidate all auth tokens when password is changed or reset
  apps/accounts/serializers.py
  apps/accounts/token_revocation.py
  frontend/src/js/controllers/changePwdCtrl.js
  frontend/src/js/controllers/profileCtrl.js
  frontend/tests/controllers-test/changePwdCtrl.test.js
  frontend/tests/controllers-test/profileCtrl.test.js
  settings/common.py
  tests/unit/accounts/test_token_revocation.py
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp), All Serializers, Core Configuration
