Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

#4289 :updated twitter logo
  frontend/src/views/web/partials/dashboard-footer.html
Due: frontend, Frontend (Gulp)

Update Dockerfiles to include fix for broken dependencies and enhance package installation reliability across all worker environments
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Update Dockerfiles to include fix for broken dependencies and enhance package installation reliability across all worker environments (#4897)
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Remove CPU reservations from Docker Compose files for production, staging, and general configurations to streamline resource allocation.
  docker-compose-production.yml
  docker-compose-staging.yml
  docker-compose.yml
Due: none

Remove CPU reservations from Docker Compose files for production, staging, and general configurations to streamline resource allocation. (#4899)
  docker-compose-production.yml
  docker-compose-staging.yml
  docker-compose.yml
Due: none

Add hover effect to .text-light-gray for improved UI feedback
  frontend/src/css/modules/base.scss
Due: frontend, Frontend (Gulp)

Update Dockerfiles to replace libopencv4.5 with python3-opencv for improved compatibility across worker environments
  docker/dev/worker_py3_8/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Update Dockerfiles to replace libopencv4.5 with python3-opencv for improved compatibility across worker environments (#4901)
  docker/dev/worker_py3_8/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Refactor Dockerfiles to copy runtime libraries from builder stage, improving build efficiency and reducing dependency on apt-get for runtime libraries across all environments.
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Refactor Dockerfiles to copy runtime libraries from builder stage, improving build efficiency and reducing dependency on apt-get for runtime libraries across all environments. (#4903)
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Docker: make Dockerfiles multi-arch compatible and fix OpenCV dependency issues
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Docker: make Dockerfiles multi-arch compatible and fix OpenCV dependency issues (#4904)
  docker/dev/celery/Dockerfile
  docker/dev/code-upload-worker/Dockerfile
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Revert "Refactor challenge and dashboard controllers to improve data fetching…"
  frontend/src/js/controllers/challengeListCtrl.js
  frontend/src/js/controllers/dashCtrl.js
Due: frontend, Frontend (Gulp)

Revert "Refactor challenge and dashboard controllers to improve data fetching…" (#4906)
  frontend/src/js/controllers/challengeListCtrl.js
  frontend/src/js/controllers/dashCtrl.js
Due: frontend, Frontend (Gulp)

Fix #4870: add hover effect to footer links
  apps/accounts/static/accounts/css/main.css
  frontend/src/css/modules/base.scss
  frontend/src/css/modules/footer.scss
  frontend_v2/src/styles/base.scss
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp)

Fix #4841: Update Twitter logo to X logo with optimized inline SVGs
  apps/accounts/templates/account/email_confirm.html
  frontend/src/views/web/auth/auth.html
  frontend/src/views/web/partials/dashboard-footer.html
  frontend/src/views/web/partials/footer.html
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp)

Frontend: Fix auth token expiry not updating on refresh
  apps/accounts/views.py
  frontend/src/js/controllers/profileCtrl.js
  frontend/tests/controllers-test/profileCtrl.test.js
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp), All Views

Style: Fix Black formatting in views.py
  apps/accounts/views.py
Due: backend, Accounts & Authentication, All Views

Update uWSGI process count in container-start.sh to enhance performance in production environment
  docker/prod/django/container-start.sh
Due: none

Update uWSGI process count in container-start.sh to enhance performance in production environment (#4912)
  docker/prod/django/container-start.sh
Due: none

feat: Add enhanced submission analytics dashboard API endpoints
  apps/analytics/serializers.py
  apps/analytics/urls.py
  apps/analytics/views.py
  tests/unit/analytics/test_views.py
Due: backend, Analytics, All Views, All Serializers

Fix incorrect challenge counts in All Challenges page tabs #4911
  frontend/src/js/controllers/challengeListCtrl.js
  frontend/src/views/web/challenge-list.html
Due: frontend, Frontend (Gulp)

Update seed command and script to support configurable challenge distribution
  apps/base/management/commands/seed.py
  scripts/seed.py
Due: backend, Utility Functions

Update seed command and script to support configurable challenge distribution (#4914)
  apps/base/management/commands/seed.py
  scripts/seed.py
Due: backend, Utility Functions

Update seed command tests to reflect new default challenge count of 500 and adjust related messages accordingly.
  tests/unit/base/test_seed_command.py
Due: none

Update seed command tests to reflect new default challenge count of 500 and adjust related messages accordingly. (#4916)
  tests/unit/base/test_seed_command.py
Due: none

Add payment tier field to challenges.
  apps/challenges/migrations/0114_add_payment_tier_field.py
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

Add payment tier to serializers
  apps/challenges/serializers.py
Due: backend, Challenges Management, All Serializers

Disable challenge submissions for free tier challenges
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/submission.html
Due: frontend, Frontend (Gulp)

Add scripts for S3 orphan cleanup and challenge end date management
  scripts/tools/cleanup_data/s3.py
  scripts/tools/cleanup_data/s3_orphans.py
  scripts/tools/cleanup_data/set_challenge_end_date.py
Due: none

Add scripts for S3 orphan cleanup and challenge end date management (#4919)
  scripts/tools/cleanup_data/s3.py
  scripts/tools/cleanup_data/s3_orphans.py
  scripts/tools/cleanup_data/set_challenge_end_date.py
Due: none
