Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Update ReadTheDocs copyright year to 2026.
  docs/source/conf.py
Due: none

Document EvalAI-Starters challenge examples and update copyright to 2026.
  docs/source/02-for-challenge-hosts/configuration/challenge-config.md
  docs/source/02-for-challenge-hosts/hosting-guide/getting-started.md
  docs/source/02-for-challenge-hosts/templates/example-challenges.md
  docs/source/06-examples-tutorials/README.md
  docs/source/06-examples-tutorials/evalai-starters-guide.md
  docs/source/06-examples-tutorials/host-examples/multi-phase.md
  docs/source/06-examples-tutorials/host-examples/remote-evaluation.md
  docs/source/06-examples-tutorials/host-examples/simple-prediction.md
  docs/source/06-examples-tutorials/integration-examples/github-integration.md
Due: none

Docs: Fix/docs copyright 2026 (#5091)
  docs/source/02-for-challenge-hosts/configuration/challenge-config.md
  docs/source/02-for-challenge-hosts/hosting-guide/getting-started.md
  docs/source/02-for-challenge-hosts/templates/example-challenges.md
  docs/source/06-examples-tutorials/README.md
  docs/source/06-examples-tutorials/evalai-starters-guide.md
  docs/source/06-examples-tutorials/host-examples/multi-phase.md
  docs/source/06-examples-tutorials/host-examples/remote-evaluation.md
  docs/source/06-examples-tutorials/host-examples/simple-prediction.md
  docs/source/06-examples-tutorials/integration-examples/github-integration.md
  docs/source/conf.py
Due: none

Scripts: Add cleanup tool for expired internal submission S3 artifacts.
  scripts/tools/cleanup_data/cleanup_expired_internal_submissions.py
  scripts/tools/cleanup_data/s3.py
Due: none

Validate submission file types before accepting submissions
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views

Allow editing missing submission metadata fields
  frontend/src/js/controllers/challengeCtrl.js
  frontend/tests/controllers-test/challengeCtrlMetadata.test.js
Due: frontend, Frontend (Gulp)

Scripts: Add cleanup tool for expired internal submission S3 artifacts. (#5092)
  scripts/tools/cleanup_data/cleanup_expired_internal_submissions.py
  scripts/tools/cleanup_data/s3.py
Due: none

Add AGENTS.md with Cursor Cloud specific development instructions
  AGENTS.md
Due: none

Challenges: Default challenge usage type to paid and remove other option.
  apps/challenges/migrations/0123_update_challenge_usage_type_default_and_choices.py
  apps/challenges/models.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Models

Challenges: Default challenge usage type to paid and remove other option. (#5096)
  apps/challenges/migrations/0123_update_challenge_usage_type_default_and_choices.py
  apps/challenges/models.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Models

Add CodeRabbit config with public-repo review safeguards.
  .coderabbit.yaml
  .presidiocli
Due: none

Use followup CodeRabbit review profile for unresolved feedback tracking.
  .coderabbit.yaml
Due: none

Tune CodeRabbit config for EvalAI OSS review workflow.
  .coderabbit.yaml
Due: none

Review draft PRs and enable auto-review on all base branches.
  .coderabbit.yaml
Due: none

Fix invalid CodeRabbit review profile value.
  .coderabbit.yaml
Due: none

CodeRabbit: Add CodeRabbit configuration for public-repo review safeguards (#5097)
  .coderabbit.yaml
  .presidiocli
Due: none

docs: add CodeRabbit PR reviews badge to README
  README.md
Due: none

Address review: hyphenate Cloud-specific, clarify container name mismatch for run-all-tests.sh
  AGENTS.md
Due: none

Cursor: Add AGENTS.md with Cursor Cloud development environment instructions (#5095)
  AGENTS.md
Due: none

docs: add CodeRabbit PR reviews badge to README (#5099)
  README.md
Due: none

Show JWT issue/expiry metadata in JwtToken admin
  apps/accounts/admin.py
  tests/unit/accounts/test_admin.py
Due: backend, Accounts & Authentication

Fix permission-denied page showing wrong message for access errors
  frontend/src/js/controllers/analyticsCtrl.js
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/js/controllers/challengeHostTeamsCtrl.js
  frontend/src/js/controllers/featuredChallengeCtrl.js
  frontend/src/js/controllers/permissionCtrl.js
  frontend/src/js/controllers/teamsCtrl.js
  frontend/src/js/services/services.js
  frontend/src/views/web/permission-denied.html
  frontend/tests/controllers-test/analyticsCtrl.test.js
  frontend/tests/controllers-test/challengeCtrl.test.js
  frontend/tests/controllers-test/challengeHostTeamsCtrl.test.js
  frontend/tests/controllers-test/featuredChallengeCtrl.test.js
  frontend/tests/controllers-test/permissionCtrl.test.js
  frontend/tests/controllers-test/teamsCtrl.test.js
Due: frontend, Frontend (Gulp)

Fix JwtToken admin tests by verifying user email
  tests/unit/accounts/test_admin.py
Due: none

Admin: Show JWT issue/expiry metadata in JwtToken admin (#5100)
  apps/accounts/admin.py
  tests/unit/accounts/test_admin.py
Due: backend, Accounts & Authentication

Harden autoscale Lambda triggers and internal API auth tests.
  apps/challenges/aws_utils.py
  apps/challenges/views.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/lambda/test_auto_scale_eks_nodes_lambda.py
Due: backend, Challenges Management, All Views, Utility Functions

Fix failing permission-denied unit tests
  frontend/src/js/controllers/teamsCtrl.js
  frontend/tests/controllers-test/analyticsCtrl.test.js
  frontend/tests/controllers-test/challengeCtrl.test.js
  frontend/tests/controllers-test/featuredChallengeCtrl.test.js
  frontend/tests/controllers-test/permissionCtrl.test.js
  frontend/tests/controllers-test/teamsCtrl.test.js
Due: frontend, Frontend (Gulp)

Backend: Implement EKS node autoscaling functionality in response to submission events. (#5061)
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  apps/challenges/urls.py
  apps/challenges/views.py
  apps/jobs/admin.py
  apps/jobs/tasks.py
  apps/jobs/views.py
  scripts/lambda/auto_scale_eks_nodes_lambda.py
  scripts/workers/submission_worker.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_views.py
  tests/unit/lambda/test_auto_scale_eks_nodes_lambda.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, Utility Functions

Fix remaining permission-denied test assertions
  frontend/tests/controllers-test/analyticsCtrl.test.js
  frontend/tests/controllers-test/featuredChallengeCtrl.test.js
  frontend/tests/controllers-test/teamsCtrl.test.js
Due: frontend, Frontend (Gulp)

Add 403 status to featured error mocks and fix teamsCtrl challenge route
  frontend/src/js/controllers/teamsCtrl.js
  frontend/tests/controllers-test/featuredChallengeCtrl.test.js
  frontend/tests/controllers-test/teamsCtrl.test.js
Due: frontend, Frontend (Gulp)

Fix five failing permission-denied unit tests
  frontend/src/js/controllers/teamsCtrl.js
  frontend/tests/controllers-test/analyticsCtrl.test.js
  frontend/tests/controllers-test/featuredChallengeCtrl.test.js
  frontend/tests/controllers-test/teamsCtrl.test.js
Due: frontend, Frontend (Gulp)

Add PyYAML to code upload worker requirements.
  requirements/code_upload_worker.txt
Due: none

Frontend: Fix permission-denied page showing email verification for access errors (#5101)
  frontend/src/js/controllers/analyticsCtrl.js
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/js/controllers/challengeHostTeamsCtrl.js
  frontend/src/js/controllers/featuredChallengeCtrl.js
  frontend/src/js/controllers/permissionCtrl.js
  frontend/src/js/controllers/teamsCtrl.js
  frontend/src/js/services/services.js
  frontend/src/views/web/permission-denied.html
  frontend/tests/controllers-test/analyticsCtrl.test.js
  frontend/tests/controllers-test/challengeCtrl.test.js
  frontend/tests/controllers-test/challengeHostTeamsCtrl.test.js
  frontend/tests/controllers-test/featuredChallengeCtrl.test.js
  frontend/tests/controllers-test/permissionCtrl.test.js
  frontend/tests/controllers-test/teamsCtrl.test.js
Due: frontend, Frontend (Gulp)

Enable CodeRabbit prompt-for-AI-agents in review comments.
  .coderabbit.yaml
Due: none

Bump PyYAML to 5.4.1 in code upload worker requirements.
  requirements/code_upload_worker.txt
Due: none

Code Upload Worker: Add PyYAML to code upload worker requirements. (#5102)
  requirements/code_upload_worker.txt
Due: none

Frontend: Simplify paid-plan transition announcement banner.
  frontend/src/views/web/partials/main-header.html
Due: frontend, Frontend (Gulp)

Frontend: Simplify paid-plan transition announcement banner. (#5104)
  frontend/src/views/web/partials/main-header.html
Due: frontend, Frontend (Gulp)

Fix code upload worker image build on Python 3.9.
  docker/prod/code-upload-worker/Dockerfile
  requirements/code_upload_worker.txt
Due: none

Code Upload Worker: Fix code upload worker image build on Python 3.9(#5105)
  docker/prod/code-upload-worker/Dockerfile
  requirements/code_upload_worker.txt
Due: none

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
