Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

Fix test regression in seed script
  scripts/seed.py
Due: none

Fix #4557: Resolve pylint class redefinition in apps/accounts admin
  apps/accounts/admin.py
Due: backend, Accounts & Authentication

fix: Don't add participant team in setUp to avoid breaking inherited tests
  tests/unit/jobs/test_views.py
Due: none

test: isolate purge queue tests from BaseAPITestClass
  tests/unit/jobs/test_views.py
Due: none

Backend: Add IsSuperUser permission class for admin-only access
  apps/web/permissions.py
Due: backend, Web Interface

Backend: Implement BulkEmailThrottle to limit bulk email operations and prevent abuse
  apps/web/throttles.py
Due: backend, Web Interface

Backend: Enhance notify_users_about_challenge to include audit logging and improve throttling for bulk email notifications
  apps/web/views.py
Due: backend, Web Interface, All Views

Backend: Add bulk email rate limit to REST framework settings
  settings/common.py
Due: Core Configuration

Backend: Update TestNotifyUsersAboutChallenge to assert 403 Forbidden for unauthenticated and non-superuser requests, and return 405 for PUT requests
  tests/unit/web/test_views.py
Due: none

Backend: Add notification email confirmation template and enhance notify_users_about_challenge with validation for subject and body
  apps/web/templates/notification_email_confirmation.html
  apps/web/views.py
  tests/unit/web/test_views.py
Due: backend, Web Interface, All Views

Fix bug in publish_submission_message and add diagnostic command
  ISSUE_ANALYSIS.md
  apps/base/management/commands/diagnose_submissions.py
  apps/jobs/sender.py
Due: backend, Job Processing, Utility Functions

Fix critical bugs in submission worker
  scripts/workers/submission_worker.py
Due: none

Add None check for queue_name to prevent errors when challenge.queue is None
  apps/jobs/sender.py
Due: backend, Job Processing

Use permission-based authorization for admin email endpoint
  apps/web/views.py
Due: backend, Web Interface, All Views

Fix: Use Django auth decorators for admin HTML notification view
  apps/web/views.py
Due: backend, Web Interface, All Views

Fix: Enforce unique constraint on subscriber email
  apps/web/models.py
Due: backend, Web Interface, All Models

feat: make dashboard stats loading-aware
  frontend/src/js/controllers/dashCtrl.js
  frontend/src/views/web/dashboard.html
Due: frontend, Frontend (Gulp)

style: fix Black and isort formatting
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views

Docs: fix typo and improve clarity
  docs/source/02-for-challenge-hosts/hosting-guide/index.md
  docs/source/02-for-challenge-hosts/hosting-guide/team-management.md
  docs/source/03-for-participants/participation-guide/team-management.md
Due: none

resolved subscribers email uniqueness issue
  COMPLETE_SOLUTION_SUMMARY.md
  PR_DESCRIPTION.md
  SUBSCRIBERS_UNIQUENESS_FIX.md
  apps/web/migrations/0011_add_unique_constraint_to_subscribers_email.py
  apps/web/models.py
  scripts/check_subscriber_duplicates.py
  tests/unit/web/test_models.py
Due: backend, Web Interface, All Models

Improve contribution guidelines documentation
  .github/CONTRIBUTING.md
Due: none

Refactor seed script: reduce number of test submissions, improve user confirmation handling, and ensure unique team names in participant team creation
  scripts/seed.py
Due: none

Fix the tests and travis build
  docker/dev/nodejs/Dockerfile
  docker/dev/nodejs/nodejs-entrypoint.sh
  docker/prod/nodejs/Dockerfile
  karma.conf.js
  package.json
Due: none

Fix Travis CI Build Issues and Improve Docker/Testing Infrastructure (#4872)
  docker/dev/nodejs/Dockerfile
  docker/dev/nodejs/nodejs-entrypoint.sh
  docker/prod/nodejs/Dockerfile
  karma.conf.js
  package.json
  scripts/seed.py
Due: none

Fix unsafe eval() usage - replace with json.loads() and safe boolean parsing
  apps/challenges/aws_utils.py
  apps/challenges/views.py
  scripts/workers/submission_worker.py
Due: backend, Challenges Management, All Views, Utility Functions

Fix security misconfigurations in settings
  docker/dev/docker.env
  settings/common.py
  settings/dev.py
Due: Core Configuration

Upgrade Django from 2.2.20 to 4.2.9 LTS
  apps/challenges/models.py
  apps/jobs/models.py
  requirements/common.txt
Due: backend, Challenges Management, Job Processing, All Models

Add comprehensive security headers for production
  settings/prod.py
  settings/staging.py
Due: Core Configuration

Improve secrets management and add security documentation
  .env.example
  apps/challenges/aws_utils.py
  docs/SECURITY_SECRETS_MANAGEMENT.md
Due: backend, Challenges Management, Utility Functions

Fix JSON formatting in task definitions for json.loads() compatibility
  apps/challenges/task_definitions.py
Due: backend, Challenges Management

Make SECRET_KEY validation less strict for tests
  settings/common.py
Due: Core Configuration

Keep SECRET_KEY in worker environment with security warnings
  apps/challenges/aws_utils.py
  docs/SECURITY_SECRETS_MANAGEMENT.md
Due: backend, Challenges Management, Utility Functions

Fix djangorestframework-expiring-authtoken version to 0.1.4
  requirements/common.txt
Due: none

Fix dependency conflicts: update cfn-lint to 0.89.2 and networkx to 3.1
  requirements/common.txt
Due: none
