Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

Add scripts for S3 orphan cleanup and challenge end date management (#4919)
  scripts/tools/cleanup_data/s3.py
  scripts/tools/cleanup_data/s3_orphans.py
  scripts/tools/cleanup_data/set_challenge_end_date.py
Due: none

Disable resume and rerun for free tier challenges
  apps/challenges/serializers.py
  frontend/src/views/web/challenge/my-challenge-all-submission.html
  frontend/src/views/web/challenge/my-submission.html
Due: backend, frontend, Challenges Management, Frontend (Gulp), All Serializers

Add payment_tier to serializers
  apps/challenges/serializers.py
Due: backend, Challenges Management, All Serializers

Disable API submissions for free-tier challenges
  apps/jobs/sender.py
  apps/jobs/views.py
Due: backend, Job Processing, All Views

Add tests for payment tier functionality
  tests/unit/challenges/test_models.py
Due: none

Add ChallengeSerializer tests for payment_tier
  tests/unit/challenges/test_serializers.py
Due: none

Add tests for sender and views
  tests/unit/jobs/test_sender.py
  tests/unit/jobs/test_views.py
Due: none

Delete workers for free-tier challenges
  scripts/monitoring/auto_stop_workers.py
Due: none

Add basic backend permission test for challenges app
  apps/challenges/tests/__init__.py
  apps/challenges/tests/test_challenge_permissions.py
Due: backend, Challenges Management

Fix challenge permission test URL
  apps/challenges/tests/test_challenge_permissions.py
Due: backend, Challenges Management

Update challenge permission test to reflect non-public endpoint
  apps/challenges/tests/test_challenge_permissions.py
Due: backend, Challenges Management

Fix formatting for challenge permission test
  apps/challenges/tests/test_challenge_permissions.py
Due: backend, Challenges Management

Add script to clean up orphaned ChallengeConfiguration files and associated S3 data
  scripts/tools/cleanup_data/orphaned_challenge_configs.py
Due: none

Add script to clean up orphaned ChallengeConfiguration files and associated S3 data (#4926)
  scripts/tools/cleanup_data/orphaned_challenge_configs.py
Due: none

Refactor S3 cleanup script to clarify which files are not deleted, enhancing documentation and logging for better understanding of the cleanup process.
  scripts/tools/cleanup_data/s3.py
Due: none

implemented a centralized extract_zip_safely utility in apps/base/utils.py
  apps/base/utils.py
  apps/challenges/views.py
Due: backend, Challenges Management, All Views, Utility Functions

Add modes to delete specific challenge fields in the script (#4931)
  scripts/tools/cleanup_data/s3.py
Due: none

Implement logic to reuse existing ChallengeConfiguration when updating challenges via GitHub, along with corresponding unit tests.
  .pre-commit-config.yaml
  apps/challenges/views.py
  scripts/tools/cleanup_code.sh
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Refactor test case to create fresh zip files for challenge update, ensuring accurate file handling in CreateOrUpdateGithubChallengeTest.
  tests/unit/challenges/test_views.py
Due: none

Backend: Reuse existing ChallengeConfiguration when updating challenges via GitHub (#4933)
  .pre-commit-config.yaml
  apps/challenges/views.py
  scripts/tools/cleanup_code.sh
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Remove unused userKey variable from ChallengeListCtrl to streamline code and improve readability.
  frontend/src/js/controllers/challengeListCtrl.js
Due: frontend, Frontend (Gulp)

Refactor logging in get_or_create_sqs_queue to use %s formatting for better readability and consistency. Update corresponding unit test to reflect this change.
  tests/unit/base/test_utils.py
Due: none

Refactor pagination and API request handling in frontend controllers(#4934)
  .pylintrc
  apps/base/utils.py
  frontend/src/js/controllers/challengeListCtrl.js
  frontend/src/js/controllers/dashCtrl.js
  frontend/src/js/controllers/hostedChallengeCtrl.js
  tests/unit/base/test_utils.py
Due: backend, frontend, Frontend (Gulp), Utility Functions

Implement get_config method in ChallengeConfigSerializer for streamlined challenge configuration handling
  apps/challenges/serializers.py
  apps/challenges/views.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Views, All Serializers

Replace bare except clauses in analytics views
  apps/analytics/views.py
Due: backend, Analytics, All Views

Implement get_config method in ChallengeConfigSerializer for streamlined challenge configuration handling (#4935)
  apps/challenges/serializers.py
  apps/challenges/views.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Views, All Serializers

Fix: Add file extension validation for URL submissions
  apps/jobs/views.py
Due: backend, Job Processing, All Views

Update submission count in pagination and increase test submission limit in seed script
  frontend/src/views/web/challenge/my-challenge-all-submission.html
  scripts/seed.py
Due: frontend, Frontend (Gulp)

Format analytics views with Black
  apps/analytics/views.py
Due: backend, Analytics, All Views

Add .gitattributes for consistent line endings
  .gitattributes
Due: none

Docs: add Windows CRLF Docker troubleshooting note
  README.md
Due: none

Resolve conflicts and remove all comments for clean code
  frontend/src/js/controllers/dashCtrl.js
  frontend/tests/controllers-test/dashCtrl.test.js
Due: frontend, Frontend (Gulp)

Fix #4789: Handle stuck submissions by recovering from worker exceptions and reloading missing challenge data
  scripts/workers/submission_worker.py
Due: none

Update submission count in pagination and increase test submission limit in seed script (#4937)
  frontend/src/views/web/challenge/my-challenge-all-submission.html
  scripts/seed.py
Due: frontend, Frontend (Gulp)
