Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Fix worker Docker builds for dnspython and py3.9 numpy pin
  docker/dev/worker_py3_7/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

Fix submission worker Celery queue for S3 retention tagging
  apps/challenges/aws_utils.py
  apps/challenges/task_definitions.py
  apps/jobs/s3_retention.py
  evalai/celery.py
  tests/unit/jobs/test_s3_retention.py
Due: backend, Challenges Management, Job Processing, Utility Functions, Core Configuration

Address CodeRabbit review feedback for Celery queue fix
  apps/challenges/aws_utils.py
  apps/jobs/s3_retention.py
  evalai/celery.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/jobs/test_s3_retention.py
Due: backend, Challenges Management, Job Processing, Utility Functions, Core Configuration

Fix CI: black formatting and register task def test env
  tests/unit/challenges/test_aws_utils.py
  tests/unit/jobs/test_s3_retention.py
Due: none

Add queue timeout for stuck pre-running submissions
  apps/challenges/migrations/0128_challenge_submission_queue_time_limit.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  apps/jobs/management/commands/fail_stuck_submissions.py
  apps/jobs/queue_timeout.py
  apps/jobs/tasks.py
  settings/common.py
  tests/unit/jobs/test_queue_timeout.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, All Serializers, Core Configuration

CI: Upgrade codecov-action to v7 for GPG verification fix
  .github/workflows/upload-coverage.yml
Due: none

Fix negative seconds in submission countdown timer
  frontend/src/js/controllers/challengeCtrl.js
Due: frontend, Frontend (Gulp)

Fix test assertions to match countdown timer fix behavior
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

frontend: clear submission type marker after submission
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/submission.html
Due: frontend, Frontend (Gulp)

Fix #4970: Block SSRF via file_url submissions
  apps/jobs/utils.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, Utility Functions

fix: add libGL and glib runtime libs to submission worker images
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix: add libGL and glib runtime libs to submission worker images (#5151)
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix(worker): pin challenge deps to core stack
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

fix(worker): pin challenge deps to core stack (#5152)
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

fix(worker): constrain all challenge pip installs to the core stack
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
  requirements/worker_py3_7.txt
  requirements/worker_py3_8.txt
  requirements/worker_py3_9.txt
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
  tests/unit/worker/test_worker_pip_constraints.py
Due: none

test(worker): strengthen pip constraint guards per review
  tests/unit/worker/test_submission_worker.py
  tests/unit/worker/test_worker_pip_constraints.py
Due: none

test(worker): match ENV directives and exact /code/ COPY dest
  tests/unit/worker/test_worker_pip_constraints.py
Due: none

fix(worker): constrain all challenge pip installs to the core stack (#5153)
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
  requirements/worker_py3_7.txt
  requirements/worker_py3_8.txt
  requirements/worker_py3_9.txt
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
  tests/unit/worker/test_worker_pip_constraints.py
Due: none

Replace realistic-looking default SECRET_KEY placeholder
  docker/prod/docker_production.env.example
Due: none

fix(worker): persist stdout/stderr when result artifact save fails
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

test(worker): tighten artifact persistence coverage from review
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

fix(worker): Persist stdout/stderr/result files when artifact serialization fails (#5157)
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

fix(frontend): hide Environment Logs column for non-docker challenges
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/my-challenge-all-submission.html
  frontend/src/views/web/challenge/my-submission.html
Due: frontend, Frontend (Gulp)

fix(frontend): hide Environment Logs column for non-docker challenges (#5158)
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/my-challenge-all-submission.html
  frontend/src/views/web/challenge/my-submission.html
Due: frontend, Frontend (Gulp)

fix(worker): scale EKS nodegroups for cross-account code-upload challenges
  apps/challenges/views.py
  scripts/lambda/auto_scale_eks_nodes_lambda.py
  tests/unit/lambda/test_auto_scale_eks_nodes_lambda.py
Due: backend, Challenges Management, All Views

fix(worker): scale EKS nodegroups for cross-account code-upload challenges (#5159)
  apps/challenges/views.py
  scripts/lambda/auto_scale_eks_nodes_lambda.py
  tests/unit/lambda/test_auto_scale_eks_nodes_lambda.py
Due: backend, Challenges Management, All Views

Fix Cloud Agent Docker bootstrap ordering
  .cursor/environment.json
  cloud-agent/install.sh
Due: none

Address Docker bootstrap review feedback
  cloud-agent/install.sh
Due: none

Cloud Agents: Fix Cloud Agent Docker bootstrap ordering (#5160)
  .cursor/environment.json
  cloud-agent/install.sh
Due: none

Fix EC2 container recreation during deployment
  scripts/deployment/deploy.sh
Due: none

Fix EC2 container recreation during deployment (#5161)
  scripts/deployment/deploy.sh
Due: none

fix(challenges): harden EKS node autoscaling against silent failures
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0128_challengeevaluationcluster_nodegroup_name.py
  apps/challenges/models.py
  apps/challenges/urls.py
  apps/challenges/views.py
  docs/source/04-development/deployment/scaling-guidelines.md
  scripts/lambda/auto_scale_eks_nodes_lambda.py
  scripts/lambda/deploy_auto_scale_eks_nodes_lambda.sh
  settings/common.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/lambda/test_auto_scale_eks_nodes_lambda.py
Due: backend, Challenges Management, All Models, All Views, Utility Functions, Core Configuration

fix(challenges): avoid DB and Celery side effects in autoscale tests
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, Utility Functions

test(challenges): mock evaluation cluster in nodegroup creation test
  tests/unit/challenges/test_aws_utils.py
Due: none

test(challenges): cover autoscale role and nodegroup error paths
  tests/unit/challenges/test_aws_utils.py
Due: none

fix(worker): stop pinning code-upload worker to Cilium v1.9
  scripts/workers/code_upload_worker_utils/install_dependencies.sh
Due: none

fix(challenges): close gaps found in review of autoscale hardening
  apps/challenges/aws_utils.py
  apps/challenges/views.py
  scripts/lambda/auto_scale_eks_nodes_lambda.py
  scripts/lambda/deploy_auto_scale_eks_nodes_lambda.sh
  tests/unit/challenges/test_aws_utils.py
  tests/unit/lambda/test_auto_scale_eks_nodes_lambda.py
Due: backend, Challenges Management, All Views, Utility Functions

test(challenges): pin IAM policy contract and keep sweep tracebacks
  scripts/lambda/auto_scale_eks_nodes_lambda.py
  tests/unit/challenges/test_aws_utils.py
Due: none

fix(worker): persist autoscaling min/max on Challenge model
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0128_challenge_max_workers.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

refactor(worker): rename max/min_workers to max/min_ecs_workers
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0128_challenge_max_workers.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
