Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

Fix isort ordering in challenge imports
  apps/challenges/views.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Views

Fix isort ordering in challenge imports (#5177)
  apps/challenges/views.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Views

fix(ecs): handle missing ECS service during worker task definition refresh (#5171)
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(sqs): use per-submission FIFO MessageGroupId for parallel workers
  apps/challenges/migrations/0134_alter_challenge_use_fifo_sqs_help_text.py
  apps/challenges/models.py
  apps/jobs/sender.py
  tests/unit/jobs/test_sender.py
Due: backend, Challenges Management, Job Processing, All Models

fix(sqs): use phase+team FIFO MessageGroupId for parallel workers
  apps/challenges/migrations/0134_alter_challenge_use_fifo_sqs_help_text.py
  apps/challenges/models.py
  apps/jobs/sender.py
  tests/unit/jobs/test_sender.py
Due: backend, Challenges Management, Job Processing, All Models

fix(sqs): address CodeRabbit FIFO review and use makemigrations
  apps/challenges/migrations/0134_alter_challenge_use_fifo_sqs_help_text.py
  apps/challenges/models.py
  apps/jobs/management/commands/purge_challenge_sqs_queue.py
  apps/jobs/sender.py
  tests/unit/jobs/test_purge_challenge_sqs_queue.py
Due: backend, Challenges Management, Job Processing, All Models

fix(sqs): harden FIFO cutover guidance and lookup-only purge
  apps/base/utils.py
  apps/challenges/migrations/0134_alter_challenge_use_fifo_sqs_help_text.py
  apps/challenges/models.py
  apps/jobs/management/commands/purge_challenge_sqs_queue.py
  apps/jobs/sender.py
  tests/unit/base/test_utils.py
  tests/unit/jobs/test_purge_challenge_sqs_queue.py
Due: backend, Challenges Management, Job Processing, All Models, Utility Functions

fix(sqs): use phase+team FIFO MessageGroupId for parallel ECS workers (#5178)
  apps/base/utils.py
  apps/challenges/migrations/0134_alter_challenge_use_fifo_sqs_help_text.py
  apps/challenges/models.py
  apps/jobs/management/commands/purge_challenge_sqs_queue.py
  apps/jobs/sender.py
  tests/unit/base/test_utils.py
  tests/unit/jobs/test_purge_challenge_sqs_queue.py
  tests/unit/jobs/test_sender.py
Due: backend, Challenges Management, Job Processing, All Models, Utility Functions

fix(worker): address CodeRabbit review on Cilium install
  scripts/workers/code_upload_worker_utils/install_dependencies.sh
Due: none

fix(worker): don't delete challenge workers with pending submissions
  scripts/lambda/challenge_cleanup_lambda.py
  scripts/monitoring/auto_scale_workers.py
  scripts/monitoring/auto_stop_workers.py
  scripts/monitoring/run_auto_stop_workers.sh
Due: none

fix(worker): address CodeRabbit review on cleanup lambda + autoscale script
  scripts/lambda/challenge_cleanup_lambda.py
  scripts/monitoring/auto_scale_workers.py
Due: none

fix(worker): chain exception in cleanup lambda reschedule failure
  scripts/lambda/challenge_cleanup_lambda.py
Due: none

fix(worker): check action result, not just HTTP status, in autoscale script
  scripts/monitoring/auto_scale_workers.py
Due: none

fix(worker): surface failure reason in autoscale worker action logs
  scripts/monitoring/auto_scale_workers.py
Due: none

fix(ecs): suspend autoscaling on stop so workers stay stopped
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

test(ecs): cover autoscaling suspend/restore on stop and scale-to-zero
  tests/unit/challenges/test_aws_utils.py
Due: none

fix(worker): don't delete challenge workers with pending submissions (#5179)
  scripts/lambda/challenge_cleanup_lambda.py
  scripts/monitoring/auto_scale_workers.py
  scripts/monitoring/auto_stop_workers.py
  scripts/monitoring/run_auto_stop_workers.sh
Due: none

chore(worker): add deploy script for challenge cleanup lambda
  scripts/lambda/deploy_challenge_cleanup_lambda.sh
Due: none

fix(worker): fetch and merge existing lambda config instead of overwriting
  scripts/lambda/deploy_challenge_cleanup_lambda.sh
Due: none

fix(worker): validate CLEANUP_RETRY_DELAY_MINUTES before deploy
  scripts/lambda/deploy_challenge_cleanup_lambda.sh
Due: none

fix(worker): validate config before publishing lambda code
  scripts/lambda/deploy_challenge_cleanup_lambda.sh
Due: none

fix(worker): keep secrets out of argv, reject empty required values
  scripts/lambda/deploy_challenge_cleanup_lambda.sh
Due: none

fix(worker): sync DB worker state after challenge cleanup Lambda
  apps/challenges/urls.py
  apps/challenges/views.py
  scripts/lambda/challenge_cleanup_lambda.py
  tests/unit/challenges/test_views.py
  tests/unit/lambda/test_challenge_cleanup_lambda.py
Due: backend, Challenges Management, All Views

style: black-format cleanup worker-state sync changes
  apps/challenges/views.py
  scripts/lambda/challenge_cleanup_lambda.py
Due: backend, Challenges Management, All Views

chore(worker): add deploy script for challenge cleanup lambda (#5181)
  scripts/lambda/deploy_challenge_cleanup_lambda.sh
Due: none

fix(worker): let a CHALLENGE_PK-pinned worker load an expired challenge
  scripts/workers/submission_worker.py
Due: none

test(worker): cover CHALLENGE_PK-pinned vs multi-challenge q_params
  tests/unit/worker/test_submission_worker.py
Due: none

test(worker): prove an expired challenge actually loads, not just q_params
  tests/unit/worker/test_submission_worker.py
Due: none

fix(worker): patch LIMIT_CONCURRENT_SUBMISSION_PROCESSING correctly in tests
  tests/unit/worker/test_submission_worker.py
Due: none

fix(worker): let a CHALLENGE_PK-pinned worker load an expired challenge (#5183)
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

fix(worker): default min_ecs_workers to 0 for scale-to-zero
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0135_alter_challenge_min_ecs_workers_default.py
  apps/challenges/models.py
Due: backend, Challenges Management, All Models, Utility Functions

fix(worker): count in-flight SQS messages in scale-down alarm
  apps/challenges/aws_utils.py
Due: backend, Challenges Management, Utility Functions

test(worker): update min_ecs_workers None-fallback test for new default
  tests/unit/challenges/test_aws_utils.py
Due: none

test(worker): cover new-challenge min_ecs_workers default of 0
  tests/unit/challenges/test_models.py
Due: none

fix(worker): treat missing SQS metrics as breaching for scale-down
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

test(worker): assert full scale-down alarm/policy contract
  tests/unit/challenges/test_aws_utils.py
Due: none

fix(worker): default min_ecs_workers to 0 for scale-to-zero (#5184)
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0135_alter_challenge_min_ecs_workers_default.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_models.py
Due: backend, Challenges Management, All Models, Utility Functions

fix(worker): harden Cilium migration/upgrade guard per review
  scripts/workers/code_upload_worker_utils/install_dependencies.sh
Due: none

fix(worker): fail closed when Cilium version lookup itself fails
  scripts/workers/code_upload_worker_utils/install_dependencies.sh
Due: none
