Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Fix syntax for environment variable retrieval (#4806)
  settings/prod.py
Due: Core Configuration

Optimize the API(s) for downloading all submissions
  apps/challenges/queryset.py
  apps/challenges/utils.py
  apps/challenges/views.py
  scripts/seed.py
Due: backend, Challenges Management, All Views, Utility Functions

Enhance Karma configuration: add additional Chrome flags and adjust timeout settings
  karma.conf.js
Due: none

Enhance Karma configuration: add additional Chrome flags and adjust timeout settings (#4809)
  karma.conf.js
Due: none

Backend: Optimize the API(s) for downloading all submissions (#4808)
  apps/challenges/queryset.py
  apps/challenges/utils.py
  apps/challenges/views.py
  scripts/seed.py
Due: backend, Challenges Management, All Views, Utility Functions

Enhance submission download functionality: dynamically generate CSV filenames based on challenge and phase details.
  apps/challenges/views.py
  frontend/src/js/controllers/challengeCtrl.js
Due: backend, frontend, Challenges Management, Frontend (Gulp), All Views

Enhance CSV writer to quote all fields in download responses
  apps/analytics/views.py
  apps/challenges/views.py
Due: backend, Challenges Management, Analytics, All Views

Enhance CSV writer in tests to quote all fields for participant teams and submissions
  .pre-commit-config.yaml
  scripts/seed.py
  tests/unit/analytics/test_views.py
  tests/unit/challenges/test_views.py
Due: none

Fix tests
  apps/challenges/views.py
  tests/unit/analytics/test_views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Refactor loop to use 'let' for block scoping and add initial state for page and phases in challenge controller tests
  frontend/src/js/controllers/challengeCtrl.js
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

Backend: dynamically generate CSV filenames based on challenge and phase details for submission download (#4811)
  apps/challenges/views.py
  frontend/src/js/controllers/challengeCtrl.js
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: backend, frontend, Challenges Management, Frontend (Gulp), All Views

Increase pylint fail-under threshold to 7.5
  .pre-commit-config.yaml
Due: none

Backend: Enhance CSV writer in tests to quote all fields for participant teams and submissions (#4812)
  apps/analytics/views.py
  apps/challenges/views.py
  scripts/seed.py
  tests/unit/analytics/test_views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, Analytics, All Views

Update team members in README.md
  README.md
Due: none

Update team members in README.md (#4815)
  README.md
Due: none

Add documentation for adding/removing challenge hosts and participants
  docs/source/02-for-challenge-hosts/hosting-guide/challenge-host-management.md
  docs/source/02-for-challenge-hosts/hosting-guide/index.md
  docs/source/03-for-participants/participation-guide/team-management.md
Due: none

Fix obsolete documentation regarding virtualenv setup
  docs/source/07-troubleshooting/support/faq.md
  docs/source/faq(developers).md
Due: none

Fix #2559: Remove obsolete virtualenv and legacy errors from FAQ
  docs/source/07-troubleshooting/support/faq.md
  docs/source/faq(developers).md
Due: none

Fix #2559: Remove obsolete virtualenv and legacy errors from FAQ
  docs/source/faq(developers).md
Due: none

fixed docker files
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
Due: none

Add dismissible close button to announcement banner
  frontend/src/css/modules/main-header.scss
  frontend/src/views/web/partials/main-header.html
Due: frontend, Frontend (Gulp)

feat: Implement bi-directional GitHub sync for challenges
  apps/challenges/github_interface.py
  apps/challenges/github_sync_config.py
  apps/challenges/github_utils.py
  apps/challenges/migrations/0114_add_github_token_field.py
  apps/challenges/models.py
  apps/challenges/serializers.py
Due: backend, Challenges Management, All Models, All Serializers

fix: Address Copilot code review feedback
  apps/challenges/github_interface.py
  apps/challenges/github_utils.py
  apps/challenges/migrations/0114_add_github_token_field.py
  apps/challenges/serializers.py
Due: backend, Challenges Management, All Serializers

style: Fix black and isort formatting issues
  apps/challenges/github_interface.py
  apps/challenges/github_utils.py
Due: backend, Challenges Management

Fix: Add placeholder content to empty Setup documentation pages
  docs/source/01-getting-started/setup/docker-setup.md
  docs/source/01-getting-started/setup/linux-setup.md
  docs/source/01-getting-started/setup/macos-setup.md
  docs/source/01-getting-started/setup/windows-setup.md
Due: none

Fix profile completion percentage fluctuation
  frontend/src/js/controllers/profileCtrl.js
  scripts/seed.py
Due: frontend, Frontend (Gulp)

Fix seed.py file
  scripts/seed.py
Due: none

Fix: added setup instructions for Linux, Windows, and macOS (#4826)
  docs/source/01-getting-started/setup/linux_setup.rst
  docs/source/01-getting-started/setup/macos_setup.rst
  docs/source/01-getting-started/setup/windows_setup.rst
Due: none

Fix race condition in public submission toggling
  apps/jobs/views.py
  tests/unit/jobs/test_bug_race_condition.py
Due: backend, Job Processing, All Views

Fix race condition in public submission toggle using atomic DB locking
  apps/jobs/views.py
Due: backend, Job Processing, All Views

Add transaction import from django.db
  apps/jobs/views.py
Due: backend, Job Processing, All Views

Fix #4830: Prevent multiple public submissions using atomic DB locking
  apps/jobs/views.py
Due: backend, Job Processing, All Views

Feat: Added purge_submissions backend endpoint
  apps/jobs/urls.py
  apps/jobs/views.py
Due: backend, Job Processing, All Views

feat: add purge submission queue functionality for challenge hosts
  apps/challenges/tests/__init__.py
  apps/challenges/tests/test_purge_submission.py
  apps/challenges/urls.py
  apps/challenges/views.py
  frontend_v2/src/app/components/challenge/challengesettings/challengesettings.component.html
Due: backend, Challenges Management, All Views

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
