Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Scout: Drop LastOutreachRun in favor of per-row outreach_sent_at column
  docs/superpowers/plans/2026-06-06-scout.md
  docs/superpowers/specs/2026-06-06-yutori-outreach-design.md
  docs/superpowers/specs/2026-06-06-yutori-scouting-design.md
Due: none

Scout: Add jsonschema to dev requirements
  requirements/dev.txt
Due: none

Scout: Scaffold app and register in OUR_APPS
  apps/scout/__init__.py
  apps/scout/apps.py
  apps/scout/management/__init__.py
  apps/scout/management/commands/__init__.py
  apps/scout/migrations/__init__.py
  settings/common.py
Due: backend, Core Configuration

Scout: Add env-backed settings (API key, public base URL)
  settings/common.py
Due: Core Configuration

Scout: Add Scout/ScoutRun/ScoutChallenge models
  apps/scout/models.py
Due: backend, All Models

Scout: Add initial migration for scout app
  apps/scout/migrations/0001_initial.py
Due: backend

Scout: Add canonical_key dedup helper with tests
  apps/scout/dedup.py
  tests/unit/scout/__init__.py
  tests/unit/scout/test_dedup.py
Due: backend

Scout: Add OUTPUT_SCHEMA constant with jsonschema validation tests
  apps/scout/schema.py
  tests/unit/scout/test_schema.py
Due: backend

Scout: Add RESEARCH_PROMPT constant
  apps/scout/prompt.py
Due: backend

Scout: Add YutoriClient with create/pause/resume and HTTP-mocked tests
  apps/scout/client.py
  tests/unit/scout/test_client.py
Due: backend

Scout: Add webhook_receiver view with token auth and atomic dedup
  apps/scout/views.py
  tests/unit/scout/test_webhook_view.py
Due: backend, All Views

Scout: Wire webhook URL into project URLConf
  apps/scout/urls.py
  evalai/urls.py
Due: backend, Core Configuration

Scout: Register read-only admin for Scout/ScoutRun/ScoutChallenge
  apps/scout/admin.py
Due: backend

Scout: Add scout_create management command
  apps/scout/management/commands/scout_create.py
Due: backend

Scout: Add scout_status management command with multi-scout support
  apps/scout/management/commands/scout_status.py
Due: backend

Scout: Add outreach settings and daily Celery beat schedule
  settings/common.py
Due: Core Configuration

Scout: Add outreach helpers (build_template_data, iter_pending_targets)
  apps/scout/outreach.py
  tests/unit/scout/test_outreach.py
Due: backend

Scout: Add send_daily_outreach Celery task with mocked-send tests
  apps/scout/tasks.py
  tests/unit/scout/test_tasks.py
Due: backend

Scout: Fix Scout model app_label and regenerate migration
  apps/scout/migrations/0001_initial.py
  apps/scout/models.py
Due: backend, All Models

Scout: Apply black/isort formatting and remove unused imports
  apps/scout/admin.py
  apps/scout/client.py
  apps/scout/management/commands/scout_create.py
  apps/scout/management/commands/scout_status.py
  apps/scout/migrations/0001_initial.py
  apps/scout/outreach.py
  apps/scout/tasks.py
  apps/scout/urls.py
  apps/scout/views.py
  tests/unit/scout/test_client.py
  tests/unit/scout/test_outreach.py
  tests/unit/scout/test_schema.py
  tests/unit/scout/test_tasks.py
  tests/unit/scout/test_webhook_view.py
Due: backend, All Views

Scout: Use DRF ModelSerializer to validate Yutori webhook payload
  apps/scout/serializers.py
  apps/scout/views.py
Due: backend, All Views, All Serializers

Scout: Retry outreach when every send to a row's organizers fails
  apps/scout/tasks.py
  tests/unit/scout/test_tasks.py
Due: backend

Scout: Declare YUTORI_API_KEY in dev docker.env as placeholder
  docker/dev/docker.env
Due: none

Add configurable max team member limit per challenge.
  apps/challenges/migrations/0124_challenge_max_team_members.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  apps/participants/utils.py
  apps/participants/views.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_utils.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, Participants & Teams, All Models, All Views, All Serializers, Utility Functions

Harden max team member enforcement against races and stale checks.
  apps/challenges/views.py
  apps/participants/views.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, Participants & Teams, All Views

Backend: Add configurable max team member limit per challenge. (#5120)
  apps/challenges/migrations/0124_challenge_max_team_members.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  apps/participants/utils.py
  apps/participants/views.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_utils.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, Participants & Teams, All Models, All Views, All Serializers, Utility Functions

Include challenge names in max team member error messages.
  apps/challenges/views.py
  apps/participants/utils.py
  apps/participants/views.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_utils.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, Participants & Teams, All Views, Utility Functions

Exempt all-host participant teams from max_team_members limits.
  apps/participants/utils.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_utils.py
  tests/unit/participants/test_views.py
Due: backend, Participants & Teams, Utility Functions

Only count accepted hosts for max_team_members exemption.
  apps/participants/utils.py
  tests/unit/participants/test_utils.py
Due: backend, Participants & Teams, Utility Functions

Backend: Exempt all-host participant teams from max_team_members limits. (#5122)
  apps/participants/utils.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_utils.py
  tests/unit/participants/test_views.py
Due: backend, Participants & Teams, Utility Functions

Clarify invite capacity error when challenges have different limits.
  apps/participants/views.py
  tests/unit/participants/test_views.py
Due: backend, Participants & Teams, All Views

Backend: Include challenge names in max team member error messages. (#5121)
  apps/challenges/views.py
  apps/participants/utils.py
  apps/participants/views.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_utils.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, Participants & Teams, All Views, Utility Functions

Add tests for challenge setup host authorization helpers.
  tests/unit/challenges/test_utils.py
Due: none

Security: Require challenge host role for challenge setup mutations (#5117)
  apps/challenges/utils.py
  apps/challenges/views.py
  tests/unit/challenges/test_utils.py
Due: backend, Challenges Management, All Views, Utility Functions

Scout: Address review feedback for delivery, races, secrets, dedup
  apps/base/utils.py
  apps/scout/admin.py
  apps/scout/client.py
  apps/scout/dedup.py
  apps/scout/management/commands/scout_create.py
  apps/scout/tasks.py
  apps/scout/views.py
  tests/unit/scout/test_dedup.py
  tests/unit/scout/test_tasks.py
  tests/unit/scout/test_webhook_view.py
Due: backend, All Views, Utility Functions

Scout: Declare outreach env vars in prod/staging/dev as placeholders
  docker/dev/docker.env
  docker/prod/docker_production.env
  docker/prod/docker_staging.env
Due: none

Scout: Promote jsonschema to runtime dep and retime outreach cron
  requirements/common.txt
  requirements/dev.txt
  settings/common.py
Due: Core Configuration

Address CodeRabbit and Codecov review on invitation acceptance.
  apps/challenges/serializers.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Serializers

Scout: Apply black formatting to client and scout_create
  apps/scout/client.py
  apps/scout/management/commands/scout_create.py
Due: backend

Security: Harden challenge invitation acceptance endpoint (#5111)
  apps/challenges/serializers.py
  apps/challenges/views.py
  tests/unit/challenges/test_serializers.py
Due: backend, Challenges Management, All Views, All Serializers

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
