Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

fix(worker): catch non-deployed Cilium releases, isolate helm list streams
  scripts/workers/code_upload_worker_utils/install_dependencies.sh
Due: none

fix(worker): stop pinning code-upload worker to Cilium v1.9 (#5163)
  scripts/workers/code_upload_worker_utils/install_dependencies.sh
Due: none

fix(worker): isolate task-def sync failures from update_service result
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

refactor(worker): dedupe update_service kwargs builder, tighten test asserts
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(worker): propagate non-inactive deregister failures on delete
  apps/challenges/aws_utils.py
Due: backend, Challenges Management, Utility Functions

test(worker): cover remaining branches flagged by codecov
  tests/unit/challenges/test_aws_utils.py
Due: none

fix(monitoring): don't stop workers with pending submissions after end_date
  scripts/monitoring/auto_scale_ec2_workers.py
  scripts/monitoring/auto_scale_eks_nodes.py
  scripts/monitoring/auto_scale_workers.py
  tests/unit/monitoring/test_auto_scale_workers.py
Due: none

style: black-format auto_scale_workers regression tests
  tests/unit/monitoring/test_auto_scale_workers.py
Due: none

fix(lambda): use unique EventBridge name when rescheduling cleanup
  scripts/lambda/challenge_cleanup_lambda.py
  tests/unit/lambda/test_challenge_cleanup_lambda.py
Due: none

fix(eks): don't force scale-down after end_date while submissions pending
  scripts/lambda/auto_scale_eks_nodes_lambda.py
  tests/unit/lambda/test_auto_scale_eks_nodes_lambda.py
Due: none

fix: don't force-delete workers when end_date moves to past
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

fix: keep workers when end_date moves past with pending submissions
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

style: black-format schedule_challenge_cleanup_soon helper
  apps/challenges/aws_utils.py
Due: backend, Challenges Management, Utility Functions

style: black-format challenge cleanup schedule helpers
  apps/challenges/aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(worker): pin cilium-operator to 1 replica for single-node clusters
  scripts/workers/code_upload_worker_utils/install_dependencies.sh
Due: none

fix(worker): pin cilium-operator to 1 replica for single-node clusters (#5190)
  scripts/workers/code_upload_worker_utils/install_dependencies.sh
Due: none

fix(worker): FILL missing SQS metrics in scale-down alarm
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(sqs): allow .fifo queue names in worker API URL patterns
  apps/challenges/urls.py
  apps/jobs/urls.py
  tests/unit/challenges/test_urls.py
  tests/unit/jobs/test_urls.py
Due: backend, Challenges Management, Job Processing

fix(jobs): reject cross-team enqueue and derive FIFO group from Submission
  apps/jobs/sender.py
  apps/jobs/views.py
  scripts/workers/submission_worker.py
  tests/unit/jobs/test_sender.py
  tests/unit/jobs/test_views.py
  tests/unit/worker/test_submission_worker.py
Due: backend, Job Processing, All Views

style: black-format send_submission_message ownership tests
  tests/unit/jobs/test_views.py
Due: none

fix(worker): disable prior LeaderboardData before re-eval bulk_create
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

fix(hosts): ignore non-active ChallengeHost status for privileges
  apps/challenges/views.py
  apps/hosts/utils.py
  apps/hosts/views.py
  apps/jobs/serializers.py
  apps/jobs/views.py
  tests/unit/hosts/test_utils.py
Due: backend, Challenges Management, Job Processing, Challenge Hosts, All Views, All Serializers, Utility Functions

fix(challenges): keep the EKS autoscale sweep deployed and scoped
  .github/workflows/ci-cd.yml
  apps/challenges/views.py
  docs/source/04-development/deployment/scaling-guidelines.md
  scripts/lambda/deploy_auto_scale_eks_nodes_lambda.sh
  settings/common.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views, Core Configuration

perf(jobs): aggregate remaining submissions from the submission table
  apps/jobs/views.py
Due: backend, Job Processing, All Views

perf(jobs): aggregate remaining submissions from the submission table (#5197)
  apps/jobs/views.py
Due: backend, Job Processing, All Views

ECS: Handle inactive ECS task definitions during worker updates (#5167)
  apps/challenges/aws_utils.py
  apps/challenges/task_definitions.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(challenges): harden autoscale sweep validation from review
  .github/workflows/ci-cd.yml
  docs/source/04-development/deployment/scaling-guidelines.md
  settings/common.py
Due: Core Configuration

fix: address CI failure and review feedback for cross-team enqueue patch
  scripts/workers/submission_worker.py
  tests/integration/worker/test_submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

feat(challenges): sync EKS nodegroup config from the challenge record
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  docs/superpowers/specs/2026-08-10-eks-nodegroup-config-sync-design.md
  settings/common.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions, Core Configuration

fix(challenges): harden nodegroup sync against orphaning and races
  apps/challenges/aws_utils.py
  docs/superpowers/specs/2026-08-10-eks-nodegroup-config-sync-design.md
  settings/common.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions, Core Configuration

fix(challenges): apply config edits made during initial cluster setup
  apps/challenges/aws_utils.py
  docs/superpowers/specs/2026-08-10-eks-nodegroup-config-sync-design.md
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(challenges): retry nodegroup sync while the nodegroup is not ACTIVE
  apps/challenges/aws_utils.py
  docs/superpowers/specs/2026-08-10-eks-nodegroup-config-sync-design.md
  settings/common.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions, Core Configuration

fix(challenges): name the recovery action when scaling retries run out
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

fix(cloud-agent): ensure Docker daemon is running in start command
  .cursor/environment.json
Due: none

fix(challenges): validate scaling bounds and stale nodegroup names
  apps/challenges/aws_utils.py
  docs/superpowers/specs/2026-08-10-eks-nodegroup-config-sync-design.md
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

test(challenges): cover the recreate EKS nodegroup admin action
  tests/unit/challenges/test_admin.py
Due: none

test(challenges): assert exact admin messages with a strict challenge fixture
  tests/unit/challenges/test_admin.py
Due: none

fix(cloud-agent): ensure Docker daemon is running in start command (#5199)
  .cursor/environment.json
Due: none

feat(challenges): sync EKS nodegroup config from the challenge record (#5198)
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  docs/superpowers/specs/2026-08-10-eks-nodegroup-config-sync-design.md
  settings/common.py
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions, Core Configuration

fix(challenges): stop form-encoded PUT from clearing challenge flags
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views
