Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Enhance challenge approval process by adding is_approval_requested field to prevent duplicate subscription plan emails. (#5027)
  apps/base/utils.py
  apps/challenges/aws_utils.py
  apps/challenges/challenge_notification_util.py
  apps/challenges/migrations/0118_add_is_approval_requested_to_challenge.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  apps/web/views.py
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/challenge-page.html
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_challenge_notification_util.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
  tests/unit/web/test_views.py
Due: backend, frontend, Challenges Management, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions

Add submission pause functionality for challenges and challenge phases
  apps/challenges/admin.py
  apps/challenges/migrations/0119_add_is_submission_paused_to_challenge_and_phase.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/urls.py
  apps/challenges/views.py
  apps/jobs/views.py
  tests/unit/challenges/test_views.py
  tests/unit/jobs/test_views.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, All Serializers

Remove requirement for is_submission_paused field in get_all_challenges view and update related tests to reflect changes in challenge data structure.
  apps/challenges/views.py
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_serializers.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Add is_submission_paused field to challenge response in unit tests for GetTeamsAndCorrespondingChallengesForAParticipant class.
  tests/unit/participants/test_views.py
Due: none

Backend: Add submission pause functionality for challenges and challenge phases(#5028)
  apps/challenges/admin.py
  apps/challenges/migrations/0119_add_is_submission_paused_to_challenge_and_phase.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/urls.py
  apps/challenges/views.py
  apps/jobs/views.py
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_serializers.py
  tests/unit/challenges/test_views.py
  tests/unit/jobs/test_views.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, All Serializers

Downgrade django-ses dependency from version 4.7.2 to 3.5.0 in common.txt to address compatibility issues.
  requirements/common.txt
Due: none

Implement email rate limiting feature to control the number of emails sent per recipient per minute. (#5029)
  apps/base/utils.py
  docker/prod/docker_production.env
  requirements/common.txt
  settings/common.py
  settings/prod.py
  settings/staging.py
  tests/unit/base/test_utils.py
Due: backend, Utility Functions, Core Configuration

Add update_challenge_attributes API endpoint and enhance request handling
  scripts/monitoring/evalai_interface.py
  tests/unit/monitoring/__init__.py
  tests/unit/monitoring/test_evalai_interface.py
Due: none

Add update_challenge_attributes API endpoint and enhance request handling (#5030)
  scripts/monitoring/evalai_interface.py
  tests/unit/monitoring/__init__.py
  tests/unit/monitoring/test_evalai_interface.py
Due: none

Add auto allocate ECS script.
  scripts/monitoring/auto_allocate_ecs_resources.py
  scripts/monitoring/run_auto_allocate_ecs_resources.sh
Due: none

Add .gitignore entry for Lambda function zip files to exclude them from version control.
  .gitignore
Due: none

Add .gitignore entry for Lambda function zip files to exclude them from version control. (#5033)
  .gitignore
Due: none

Add custom email validation and bounce handling for user accounts
  apps/accounts/adapter.py
  apps/accounts/apps.py
  apps/accounts/bounce_handler.py
  requirements/common.txt
  settings/common.py
Due: backend, Accounts & Authentication, Core Configuration

Backend: Add custom email validation and bounce handling for user accounts (#5034)
  apps/accounts/adapter.py
  apps/accounts/apps.py
  apps/accounts/bounce_handler.py
  requirements/common.txt
  settings/common.py
Due: backend, Accounts & Authentication, Core Configuration

Implement email bounce handling and update email functionality
  apps/accounts/adapter.py
  apps/accounts/bounce_handler.py
  apps/accounts/migrations/0004_add_email_bounced_fields.py
  apps/accounts/models.py
  apps/accounts/serializers.py
  apps/accounts/tasks.py
  apps/accounts/urls.py
  apps/accounts/views.py
  apps/base/utils.py
  frontend/src/js/controllers/mainCtrl.js
  frontend/src/views/web/partials/main-header.html
  settings/common.py
  tests/unit/accounts/test_adapter.py
  tests/unit/accounts/test_bounce_handler.py
  tests/unit/accounts/test_serializers.py
  tests/unit/accounts/test_tasks.py
  tests/unit/accounts/test_views.py
  tests/unit/base/test_utils.py
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Refactor deactivate_stale_bounced_accounts function by removing redundant imports from accounts.models and accounts.serializers, improving code clarity.
  apps/accounts/tasks.py
Due: backend, Accounts & Authentication

Potential fix for pull request finding 'Unnecessary pass'
  tests/unit/base/test_utils.py
Due: none

Enhance email bounce handling by adding debug logging for missing user profiles in EvalAIAccountAdapter, improving traceability during email sending.
  apps/accounts/adapter.py
Due: backend, Accounts & Authentication

Frontend: Refactor authFailureInterceptor to conditionally redirect on 401 errors based on current route authentication requirements. (#5035)
  frontend/src/js/app.js
  frontend/tests/authFailureInterceptor.test.js
Due: frontend, Frontend (Gulp)

Refactor EvalAIAccountAdapter to lazy import EmailBounceSerializer, preventing import conflicts and improving module loading efficiency.
  apps/accounts/adapter.py
Due: backend, Accounts & Authentication

Update email serializer to allow blank values and add tests for email update scenarios, including empty and already used emails.
  apps/accounts/serializers.py
  tests/unit/accounts/test_adapter.py
  tests/unit/accounts/test_views.py
Due: backend, Accounts & Authentication, All Serializers

Backend: Implement email bounce handling and update email functionality (#5036)
  apps/accounts/adapter.py
  apps/accounts/bounce_handler.py
  apps/accounts/migrations/0004_add_email_bounced_fields.py
  apps/accounts/models.py
  apps/accounts/serializers.py
  apps/accounts/tasks.py
  apps/accounts/urls.py
  apps/accounts/views.py
  apps/base/utils.py
  frontend/src/js/controllers/mainCtrl.js
  frontend/src/views/web/partials/main-header.html
  settings/common.py
  tests/unit/accounts/test_adapter.py
  tests/unit/accounts/test_bounce_handler.py
  tests/unit/accounts/test_serializers.py
  tests/unit/accounts/test_tasks.py
  tests/unit/accounts/test_views.py
  tests/unit/base/test_utils.py
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

feat: Highlight entry in My Submissions Tab
  frontend/src/css/modules/my-challenge-all-submission.scss
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/my-submission.html
Due: frontend, Frontend (Gulp)

Add is_cli flag to submissions for CLI vs UI tracking (#4347)
  apps/jobs/migrations/0027_add_is_cli_field.py
  apps/jobs/models.py
  apps/jobs/serializers.py
Due: backend, Job Processing, All Models, All Serializers

Fix #4347: Add is_cli flag to track CLI vs UI submissions
  TODO.md
  file path here
Due: none

Refactor: Remove old migration and add unique email constraint to auth_user table
  apps/accounts/migrations/0004_add_unique_email_constraint.py
  apps/accounts/migrations/0005_add_unique_email_constraint.py
Due: backend, Accounts & Authentication

Add unit tests for merging duplicate emails, ensuring deletion of associated JWT and DRF auth tokens, handling empty emails, and error reporting during merge failures.
  tests/unit/accounts/test_merge_duplicate_emails.py
Due: none

Refactor imports in serializers.py to improve code organization by moving get_user_by_email import to the correct position.
  apps/accounts/serializers.py
Due: backend, Accounts & Authentication, All Serializers

Improve Travis CI configuration for frontend tests by enhancing error handling. The script now checks for coverage output before confirming test success, providing clearer feedback on test failures.
  .travis.yml
Due: none

Refactor user retrieval logic to use get_user_by_email utility function across accounts and challenges modules (#5031)
  .travis.yml
  apps/accounts/management/__init__.py
  apps/accounts/management/commands/__init__.py
  apps/accounts/management/commands/merge_duplicate_emails.py
  apps/accounts/migrations/0005_add_unique_email_constraint.py
  apps/accounts/serializers.py
  apps/accounts/views.py
  apps/base/utils.py
  apps/challenges/views.py
  apps/hosts/serializers.py
  apps/hosts/views.py
  apps/participants/serializers.py
  apps/participants/views.py
  frontend/tests/controllers-test/challengeCtrl.test.js
  frontend/tests/controllers-test/featuredChallengeCtrl.test.js
  gulpfile.js
  settings/common.py
  tests/unit/accounts/test_merge_duplicate_emails.py
  tests/unit/base/test_get_user_by_email.py
  tests/unit/base/test_utils.py
  tests/unit/challenges/test_invite_no_duplicate.py
  tests/unit/challenges/test_views.py
Due: backend, frontend, Accounts & Authentication, Challenges Management, Participants & Teams, Challenge Hosts, Frontend (Gulp), All Views, All Serializers, Utility Functions, Core Configuration

Enhance deployment script: Add server cleaning steps to prune Docker resources and system cache before stopping and removing containers.
  scripts/deployment/deploy.sh
Due: none

Enhance deployment script: Add server cleaning steps to prune Docker resources and system cache before stopping and removing containers. (#5039)
  scripts/deployment/deploy.sh
Due: none

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
