Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Update challenge-list.html to improve accessibility and navigation by adding an ID to the challenge list section and updating the scroll-to button target.
  frontend/src/views/web/challenge-list.html
Due: frontend, Frontend (Gulp)

Backend: Enhance ChallengeAdmin to support search by creator's email in admin interface
  apps/challenges/admin.py
  tests/unit/challenges/test_admin.py
Due: backend, Challenges Management

Backend: Add unit tests for ChallengeAdmin list_display configuration to ensure expected fields are present
  apps/challenges/admin.py
  tests/unit/challenges/test_admin.py
Due: backend, Challenges Management

Frontend: Update challenge list to conditionally display upcoming challenges based on count
  frontend/src/views/web/challenge-list.html
Due: frontend, Frontend (Gulp)

Frontend: Update challenge-list.html to improve accessibility and navigation by adding an ID to the challenge list section and updating the scroll-to button target. (#4974)
  frontend/src/views/web/challenge-list.html
Due: frontend, Frontend (Gulp)

Frontend: Update challenge list to conditionally display upcoming challenges based on count (#4976)
  frontend/src/views/web/challenge-list.html
Due: frontend, Frontend (Gulp)

Backend: Enhance ChallengeAdmin to support search by creator's email in admin interface (#4975)
  apps/challenges/admin.py
  tests/unit/challenges/test_admin.py
Due: backend, Challenges Management

Docs: Fix incorrect anchor to Remote Evaluation script section (#3996)
  docs/source/02-for-challenge-hosts/hosting-guide/host-challenge.md
Due: none

Docs: Add comprehensive auto-scaling and auto-cancel documentation (#4230)
  docs/source/04-development/deployment/auto-scaling.md
  docs/source/04-development/deployment/index.md
Due: none

Tests: Add comprehensive tests for update_leaderboard_data API (#2487)
  tests/unit/jobs/test_views.py
Due: none

Fix #2559: Remove obsolete virtualenv and legacy installation errors from FAQ
  docs/source/faq(developers).md
Due: none

Fix #1558: Add date validation constraints for challenge phases
  apps/challenges/models.py
  tests/unit/challenges/test_models.py
Due: backend, Challenges Management, All Models

Fix: UpdateLeaderboardDataTest should inherit from ChallengeLeaderboardTest
  tests/unit/jobs/test_views.py
Due: none

Docs: Fix baseline submissions page formatting and typos (#2804)
  docs/source/03-for-participants/visibility/baseline-submissions.md
Due: none

Fix: Resolve stuck submissions in remote evaluation (#4921)
  scripts/workers/remote_submission_worker.py
  scripts/workers/submission_worker.py
Due: none

Make seeding test non-interactive during pytest
  tests/unit/base/test_utils.py
Due: none

Add workflow invariant test for inactive challenge phase submissions
  tests/unit/jobs/test_submissions_workflow.py
Due: none

Backend: Add show_scores_on_leaderboard field to ChallengePhaseSplit model and update related components
  apps/challenges/admin.py
  apps/challenges/migrations/0113_add_github_branch_field_and_unique_constraint.py
  apps/challenges/migrations/0115_add_show_scores_on_leaderboard_to_challenge_phase_split.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/jobs/utils.py
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/leaderboard.html
  frontend/tests/controllers-test/challengeCtrl.test.js
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_views.py
  tests/unit/jobs/test_views.py
Due: backend, frontend, Challenges Management, Job Processing, Frontend (Gulp), All Models, All Serializers, Utility Functions

Docs: Fix baseline submissions page formatting and typos (#2804) (#4977)
  docs/source/03-for-participants/visibility/baseline-submissions.md
Due: none

Docs: Fix incorrect anchor to Remote Evaluation script section (#3996) (#4978)
  docs/source/02-for-challenge-hosts/hosting-guide/host-challenge.md
Due: none

Frontend: Add unit test to ensure chosenMetrics is set to empty when show_scores_on_leaderboard is false
  frontend/tests/controllers-test/challengeCtrl.test.js
Due: frontend, Frontend (Gulp)

Replace bare except clauses with specific exception handling
  apps/analytics/views.py
Due: backend, Analytics, All Views

Add unique constraint to Subscribers email field
  apps/web/migrations/0011_add_unique_constraint_to_subscribers_email.py
  apps/web/models.py
Due: backend, Web Interface, All Models

Fix SSRF vulnerability in file_url submission handling
  apps/jobs/utils.py
Due: backend, Job Processing, Utility Functions

Fix #4970: Add comprehensive SSRF protection to file downloads
  apps/jobs/utils.py
Due: backend, Job Processing, Utility Functions

Backend: Add show_scores_on_leaderboard field to ChallengePhaseSplit model and update related components (#4985)
  apps/challenges/admin.py
  apps/challenges/migrations/0113_add_github_branch_field_and_unique_constraint.py
  apps/challenges/migrations/0115_add_show_scores_on_leaderboard_to_challenge_phase_split.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/jobs/utils.py
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/leaderboard.html
  frontend/tests/controllers-test/challengeCtrl.test.js
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_views.py
  tests/unit/jobs/test_views.py
Due: backend, frontend, Challenges Management, Job Processing, Frontend (Gulp), All Models, All Serializers, Utility Functions

Backend: Add composite index to LeaderboardData model for query optimization
  apps/challenges/migrations/0116_leaderboard_data_leaderboard_query_index.py
  apps/challenges/models.py
  tests/unit/challenges/test_models.py
Due: backend, Challenges Management, All Models

Backend: Add composite index to LeaderboardData model for query optimization (#4989)
  apps/challenges/migrations/0116_leaderboard_data_leaderboard_query_index.py
  apps/challenges/models.py
  tests/unit/challenges/test_models.py
Due: backend, Challenges Management, All Models

Backend: Optimize participant team detail view to avoid N+1 queries using select_related and prefetch_related
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_serializers.py
Due: backend, Challenges Management, All Views

Backend: Optimize participant team detail view to avoid N+1 queries using select_related and prefetch_related (#4990)
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_serializers.py
Due: backend, Challenges Management, All Views

Docs: fix incorrect requirements install path in troubleshooting and developer FAQ
  docs/source/07-troubleshooting/support/faq.md
  docs/source/faq(developers).md
Due: none

Backend: Handle ServiceNotFoundException in service_manager to sync challenge workers and create services as needed; add unit tests for new behavior.
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
