Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

Refactor CI and Docker configurations for streamlined testing
  .travis.yml
  docker-compose.yml
  docker/dev/nodejs/Dockerfile
Due: none

Update karma configuration to use chrome-launcher for Chrome executable path
  karma.conf.js
  package.json
Due: none

Refactor ESLint and Docker configurations for improved consistency and performance
  .eslintrc
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
  frontend/src/css/modules/error_404.scss
  frontend/src/css/modules/footer.scss
  frontend/src/css/modules/variables.scss
  gulpfile.js
  karma.conf.js
  package.json
Due: frontend, Frontend (Gulp)

TravisCI and Frontend Update: Enhance TravisCI configuration for improved test reporting and coverage uploads (#4780)
  .eslintrc
  .npmrc
  .travis.yml
  docker-compose.yml
  docker/dev/docker.env
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
  frontend/src/css/modules/error_404.scss
  frontend/src/css/modules/footer.scss
  frontend/src/css/modules/variables.scss
  gulpfile.js
  karma.conf.js
  package.json
Due: frontend, Frontend (Gulp)

Fix #4068: Fix spelling of participant and deregister button (#4247)
  frontend/src/views/web/challenge/edit-challenge/edit-challenge-deregister.html
  frontend/src/views/web/teams.html
Due: frontend, Frontend (Gulp)

Add coverage for missing lines
  tests/unit/base/test_utils.py
  tests/unit/challenges/test_github_sync_signals.py
  tests/unit/challenges/test_github_utils.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
Due: none

Add cleanup_submissions script and unit tests for expired submissions deletion
  scripts/data/cleanup_submissions.py
  tests/unit/data/test_cleanup_submissions.py
Due: none

update freezegun package
  requirements/dev.txt
Due: none

Fix TestDeserializeObject error
  tests/unit/base/test_utils.py
Due: none

Update the Travis build error
  .travis.yml
Due: none

update freezegun
  requirements/dev.txt
Due: none

Fix Travis
  .travis.yml
Due: none

Add cleanup_submissions script and unit tests for expired submissions deletion
  scripts/s3/cleanup_submissions.py
  tests/unit/s3/test_cleanup_submissions.py
Due: none

Travis File fix to trigger build
  .travis.yml
Due: none

Fix unit tests
  scripts/s3/__init__.py
  scripts/s3/cleanup_submissions.py
  tests/unit/s3/__init__.py
  tests/unit/s3/test_cleanup_submissions.py
Due: none

Update .travis.yml
  .travis.yml
Due: none

Add purge queue API method and integrate frontend UI components
  apps/challenges/tests/test_queue_purge.py
  apps/challenges/urls.py
  apps/challenges/views.py
  frontend_v2/src/app/components/challenge/challengesubmissions/challengesubmissions.component.html
  frontend_v2/src/app/services/challenge.service.ts
Due: backend, Challenges Management, All Views

fix: improve pylint score for accounts module
  apps/accounts/admin.py
  apps/accounts/models.py
  apps/accounts/views.py
Due: backend, Accounts & Authentication, All Models, All Views

fix: corrected field name in admin to match model
  apps/accounts/admin.py
Due: backend, Accounts & Authentication

Enhance cleanup_submissions script with new features and logging improvements
  scripts/s3/cleanup_submissions.py
  tests/unit/s3/__init__.py
  tests/unit/s3/test_cleanup_submissions.py
Due: none

Enhance cleanup_submissions script with test annotation and custom query features
  scripts/s3/cleanup_submissions.py
Due: none

fix: improve pylint score for web.models module
  apps/web/models.py
Due: backend, Web Interface, All Models

Update Twitter icons to X icons
  apps/accounts/templates/account/email_confirm.html
  apps/web/templates/notification_email_conformation.html
  apps/web/templates/notification_email_data.html
  frontend/base.html
  frontend/src/views/web/auth/auth.html
  frontend/src/views/web/partials/dashboard-footer.html
  frontend/src/views/web/partials/footer.html
  frontend_v2/src/app/components/nav/footer/footer.component.html
  frontend_v2/src/index.html
Due: backend, frontend, Accounts & Authentication, Web Interface, Frontend (Gulp)

Enhance ChallengeHostTeam admin interface: Add 'get_all_challenge_hosts_email' to list_display for improved visibility of challenge host emails.
  apps/hosts/admin.py
Due: backend, Challenge Hosts

Update Dockerfiles: Upgrade Node.js version from 18.19.0 to 22-bullseye for improved performance and security.
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
Due: none

Fix typo in ChallengeHostTeam admin list_display: correct 'get_all_challenge_hosts_email' to 'get_all_challenge_host_email'
  apps/hosts/admin.py
Due: backend, Challenge Hosts

Improve test coverage for challengeHostTeamsCtrl.js
  frontend/tests/controllers-test/challengeHostTeamsCtrl.test.js
Due: frontend, Frontend (Gulp)

Improve test coverage for challengeHostTeamsCtrl.js from 70.51%
  frontend/tests/controllers-test/challengeHostTeamsCtrl.test.js
Due: frontend, Frontend (Gulp)

Improve pylint score and code quality for accounts module
  apps/accounts/admin.py
  apps/accounts/models.py
Due: backend, Accounts & Authentication, All Models

Reorganize documentation sidebar for better UX (#4692)
  docs/source/index.rst
Due: none

Replace Raven with Sentry SDK for error tracking and update production settings
  requirements/prod.txt
  settings/prod.py
Due: Core Configuration

Replace Raven with Sentry SDK for error tracking and update production settings (#4801)
  requirements/prod.txt
  settings/prod.py
Due: Core Configuration

Fix formatting in prod.py settings
  settings/prod.py
Due: Core Configuration

Fix formatting in prod.py settings (#4804)
  settings/prod.py
Due: Core Configuration

Fix syntax for environment variable retrieval
  settings/prod.py
Due: Core Configuration

Fix syntax for environment variable retrieval (#4806)
  settings/prod.py
Due: Core Configuration
