Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

Backend: Optimize participant serializers and views to reduce N+1 query issues with prefetch_related and select_related. Add tests to verify functionality and performance improvements.
  apps/participants/serializers.py
  apps/participants/views.py
  tests/unit/participants/test_serializers.py
  tests/unit/participants/test_views.py
Due: backend, Participants & Teams, All Views, All Serializers

Refactor Dockerfile to clean up Chrome locale files
  docker/dev/nodejs/Dockerfile
Due: none

Backend: Optimize participant serializers and views to reduce N+1 queries (#4956)
  apps/participants/serializers.py
  apps/participants/views.py
  tests/unit/participants/test_serializers.py
  tests/unit/participants/test_views.py
Due: backend, Participants & Teams, All Views, All Serializers

Critical Security Fix: Prevent RCE via eval() in invite_users_to_challenge()
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Update coverage configuration and Travis CI setup for frontend tests (#4948)
  .coveragerc
  .pre-commit-config.yaml
  .travis.yml
  docker/dev/nodejs/Dockerfile
  frontend/tests/controllers-test/challengeListCtrl.test.js
  karma.conf.js
  scripts/tools/cleanup_code.sh
Due: frontend, Frontend (Gulp)

fix: ensure signal doesn't run in tests and update original end date correctly
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

Fix auth token error handling and edge cases
  apps/accounts/views.py
Due: backend, Accounts & Authentication, All Views

chore: format accounts views with black
  apps/accounts/views.py
Due: backend, Accounts & Authentication, All Views

Enhance delete_service_by_challenge_pk to handle ServiceNotFoundException gracefully
  apps/challenges/aws_utils.py
  apps/challenges/task_definitions.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Backend: Enhance delete_service_by_challenge_pk to handle ServiceNotFoundException gracefully (#4961)
  apps/challenges/aws_utils.py
  apps/challenges/task_definitions.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Backend: Enhance participant team download functionality to support JSON format and optimize queries
  apps/analytics/views.py
  apps/participants/serializers.py
  tests/unit/analytics/test_views.py
Due: backend, Participants & Teams, Analytics, All Views, All Serializers

fix: upgrade PyYaml to 5.4.1 to fix python 3.9 build
  requirements/common.txt
Due: none

fix: set default retention to 30 days for past challenges
  apps/challenges/aws_utils.py
Due: backend, Challenges Management, Utility Functions

Make seeding test non-interactive during pytest
  tests/unit/base/test_utils.py
Due: none

Backend: Enhance user profile model and serializers to support additional fields and validation
  apps/accounts/migrations/0003_add_profile_address_fields.py
  apps/accounts/models.py
  apps/accounts/serializers.py
  apps/challenges/migrations/0114_add_require_complete_profile.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/utils.py
  apps/challenges/views.py
  frontend/src/css/modules/profile.scss
  frontend/src/js/controllers/profileCtrl.js
  frontend/src/js/controllers/updateProfileCtrl.js
  frontend/src/js/route-config/route-config.js
  frontend/src/views/web/profile/edit-profile/update-profile.html
  frontend/tests/controllers-test/profileCtrl.test.js
  frontend/tests/controllers-test/updateProfileCtrl.test.js
  scripts/run-all-tests.sh
  tests/unit/accounts/test_models.py
  tests/unit/challenges/test_utils.py
  tests/unit/challenges/test_views.py
Due: backend, frontend, Accounts & Authentication, Challenges Management, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions

Backend: Update profile serializer and challenge tests to include new fields and improve response validation
  tests/unit/accounts/test_serializers.py
  tests/unit/challenges/test_utils.py
  tests/unit/challenges/test_views.py
Due: none

Add hover effect to .text-light-gray for improved UI feedback
  frontend/src/css/modules/base.scss
Due: frontend, Frontend (Gulp)

Fix: harden submission analytics endpoints against QuerySet edge cases
  apps/analytics/views.py
Due: backend, Analytics, All Views

feat: implement CloudWatch log retention based on challenge end date
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  docker/dev/nodejs/Dockerfile
  docker/prod/nodejs/Dockerfile
  requirements/common.txt
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

fix: prevent negative values in submission countdown timer
  frontend/src/js/controllers/challengeCtrl.js
Due: frontend, Frontend (Gulp)

Fix: Submissions stuck in submitted status (#4963)
  apps/jobs/management/__init__.py
  apps/jobs/management/commands/__init__.py
  apps/jobs/management/commands/handle_stale_submissions.py
  apps/jobs/urls.py
  apps/jobs/utils.py
  apps/jobs/views.py
  scripts/workers/submission_worker.py
  tests/unit/jobs/test_stale_submissions.py
Due: backend, Job Processing, All Views, Utility Functions

Backend: Enhance participant team download functionality to support JSON format and optimize queries (#4962)
  apps/analytics/views.py
  apps/participants/serializers.py
  tests/unit/analytics/test_views.py
  tests/unit/participants/test_serializers.py
Due: backend, Participants & Teams, Analytics, All Views, All Serializers

Harden file_url handling to prevent SSRF and internal data exfiltration
  apps/jobs/utils.py
Due: backend, Job Processing, Utility Functions

Backend: Add 'require_complete_profile' field to challenge and participant tests for improved data handling
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
Due: none

fix: refactor countdown timer to use forEach for safe scoping
  frontend/src/js/controllers/challengeCtrl.js
Due: frontend, Frontend (Gulp)

Backend: Add OngoingChallengesFilter to SubmissionAdmin list_filter for improved filtering options
  apps/jobs/admin.py
  apps/jobs/admin_filters.py
  tests/unit/jobs/test_admin_filters.py
Due: backend, Job Processing

Backend: Update participant tests to include additional address fields and improve JSON response handling
  tests/unit/participants/test_views.py
Due: none

Backend: Add OngoingChallengesFilter to SubmissionAdmin list_filter for improved filtering options (#4972)
  apps/jobs/admin.py
  apps/jobs/admin_filters.py
  tests/unit/jobs/test_admin_filters.py
Due: backend, Job Processing

Backend: Introduce TopActiveChallengesFilter and ActiveChallengePhaseFilter to enhance challenge filtering in SubmissionAdmin
  apps/jobs/admin.py
  apps/jobs/admin_filters.py
  tests/unit/jobs/test_admin_filters.py
Due: backend, Job Processing

Backend: Introduce TopActiveChallengesFilter and ActiveChallengePhaseFilter to enhance challenge filtering in SubmissionAdmin (#4973)
  apps/jobs/admin.py
  apps/jobs/admin_filters.py
  tests/unit/jobs/test_admin_filters.py
Due: backend, Job Processing

Backend: Refactor invitation error messages in participant view for improved readability and consistency
  apps/participants/views.py
Due: backend, Participants & Teams, All Views

Add payment tier to challenge serializer
  apps/challenges/models.py
  apps/challenges/serializers.py
Due: backend, Challenges Management, All Models, All Serializers

Feature: Add feature to complete profile of the students if the challenge requires (#4965)
  apps/accounts/migrations/0003_add_profile_address_fields.py
  apps/accounts/models.py
  apps/accounts/serializers.py
  apps/challenges/migrations/0114_add_require_complete_profile.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/utils.py
  apps/challenges/views.py
  apps/participants/views.py
  frontend/src/css/modules/profile.scss
  frontend/src/js/controllers/profileCtrl.js
  frontend/src/js/controllers/updateProfileCtrl.js
  frontend/src/js/route-config/route-config.js
  frontend/src/views/web/profile/edit-profile/update-profile.html
  frontend/tests/controllers-test/profileCtrl.test.js
  frontend/tests/controllers-test/updateProfileCtrl.test.js
  scripts/run-all-tests.sh
  tests/unit/accounts/test_models.py
  tests/unit/accounts/test_serializers.py
  tests/unit/challenges/test_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
Due: backend, frontend, Accounts & Authentication, Challenges Management, Participants & Teams, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions
