Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

fix(challenges): stop form-encoded PUT from clearing challenge phase flags
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

test(challenges): cover urlencoded PUT and assert the phase description
  tests/unit/challenges/test_views.py
Due: none

fix(challenges): copy request data before mutating it in challenge_detail
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

fix(challenges): carry uploads by reference instead of deep-copying them
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

test(challenges): assert the spooled annotation is actually stored
  tests/unit/challenges/test_views.py
Due: none

fix(challenges): keep the EKS autoscale sweep deployed and scoped (#5195)
  .github/workflows/ci-cd.yml
  apps/challenges/views.py
  docs/source/04-development/deployment/scaling-guidelines.md
  scripts/lambda/deploy_auto_scale_eks_nodes_lambda.sh
  settings/common.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views, Core Configuration

Treat challenge and phase PUT as partial updates so form-encoded requests stop clearing boolean flags (#5200)
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

feat(workers): add activeDeadlineSeconds backstop for submission jobs
  scripts/workers/code_upload_submission_worker.py
  tests/unit/worker/test_code_upload_submission_worker.py
Due: none

fix(workers): validate activeDeadlineSeconds buffer and guard positivity
  scripts/workers/code_upload_submission_worker.py
  tests/unit/worker/test_code_upload_submission_worker.py
Due: none

test(workers): isolate activeDeadlineSeconds assertions from host env
  tests/unit/worker/test_code_upload_submission_worker.py
Due: none

test(workers): assert warning on rejected activeDeadlineSeconds buffer
  tests/unit/worker/test_code_upload_submission_worker.py
Due: none

Add activeDeadlineSeconds hard-timeout backstop for code-upload submission jobs (#5201)
  scripts/workers/code_upload_submission_worker.py
  tests/unit/worker/test_code_upload_submission_worker.py
Due: none

fix(settings): suppress challenge-script logger noise in Sentry
  settings/prod.py
Due: Core Configuration

fix(settings): suppress challenge-script logger noise in Sentry (#5202)
  settings/prod.py
Due: Core Configuration

Limit new challenges to two phases by default
  apps/challenges/admin.py
  apps/challenges/challenge_config_utils.py
  apps/challenges/migrations/0136_challenge_max_allowed_phases.py
  apps/challenges/models.py
  apps/challenges/phase_limit_utils.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  frontend/src/views/web/challenge-create.html
  frontend/src/views/web/challenge/phases.html
  settings/common.py
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_challenge_config_utils.py
  tests/unit/challenges/test_serializers.py
  tests/unit/challenges/test_views.py
Due: backend, frontend, Challenges Management, Frontend (Gulp), All Models, All Views, All Serializers, Core Configuration

fix(challenges): correct phase_count aggregation and unify max-phase default
  apps/challenges/migrations/0136_challenge_max_allowed_phases.py
  apps/challenges/models.py
  apps/challenges/phase_limit_utils.py
Due: backend, Challenges Management, All Models

fix(worker): install Java in prod submission worker images
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix(worker): install Java in prod submission worker images (#5204)
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix(challenges): address review feedback and fix CI for phase-limit PR
  apps/challenges/challenge_config_utils.py
  apps/challenges/migrations/0136_challenge_max_allowed_phases.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  frontend/src/views/web/challenge-create.html
  frontend/src/views/web/challenge/phases.html
  settings/common.py
  tests/unit/challenges/test_challenge_config_utils.py
  tests/unit/participants/test_views.py
Due: backend, frontend, Challenges Management, Frontend (Gulp), All Models, All Views, All Serializers, Core Configuration

fix(challenges): handle deleted challenge in locked phase create; annotate participant challenge lists
  apps/challenges/views.py
  apps/participants/views.py
Due: backend, Challenges Management, Participants & Teams, All Views

feat(deploy): add health endpoint and move release steps out of container start
  apps/base/views.py
  docker/prod/django/container-start.sh
  evalai/urls.py
  scripts/deployment/deploy.sh
  tests/unit/base/test_health_view.py
Due: backend, All Views, Utility Functions, Core Configuration

fix(deploy): gate standalone django deploys on release steps
  scripts/deployment/deploy.sh
  tests/unit/base/test_health_view.py
Due: none

fix(deploy): authenticate to ECR in the region the compose files pin
  scripts/deployment/deploy.sh
Due: none

feat(deploy): add health endpoint and move release steps out of container start (#5205)
  apps/base/views.py
  docker/prod/django/container-start.sh
  evalai/urls.py
  scripts/deployment/deploy.sh
  tests/unit/base/test_health_view.py
Due: backend, All Views, Utility Functions, Core Configuration

fix(docker): retry apt-get install in prod worker and service images
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

fix(docker): retry apt-get install in prod worker and service images (#5206)
  docker/prod/celery/Dockerfile
  docker/prod/code-upload-worker/Dockerfile
  docker/prod/django/Dockerfile
  docker/prod/worker_py3_7/Dockerfile
  docker/prod/worker_py3_8/Dockerfile
  docker/prod/worker_py3_9/Dockerfile
Due: none

feat(base): answer load balancer health checks before host validation
  apps/base/middleware.py
  settings/common.py
  tests/unit/base/test_health_middleware.py
Due: backend, Utility Functions, Core Configuration

feat(base): answer load balancer health checks before host validation (#5208)
  apps/base/middleware.py
  settings/common.py
  tests/unit/base/test_health_middleware.py
Due: backend, Utility Functions, Core Configuration

chore(dev): provision EvalAI natively for Claude Code on the web
  .claude/hooks/session-start.sh
  .claude/settings.json
  .gitignore
  AGENTS.md
Due: none

fix(dev): fail the web session hook when PostgreSQL is not usable
  .claude/hooks/session-start.sh
  AGENTS.md
Due: none

feat(settings): allow storage URLs to be pointed at a CDN via config
  settings/prod.py
  tests/unit/settings/__init__.py
  tests/unit/settings/test_storage_domain.py
Due: Core Configuration

fix(settings): treat an empty AWS_S3_CUSTOM_DOMAIN as unset
  scripts/tools/aws_cost_audit.sh
  scripts/tools/aws_infra_inventory.sh
  scripts/tools/cleanup_data/check_broken_submission_files.py
  settings/prod.py
  tests/unit/settings/test_storage_domain.py
Due: Core Configuration

chore: drop unrelated audit tooling from this branch
  scripts/tools/aws_cost_audit.sh
  scripts/tools/aws_infra_inventory.sh
  scripts/tools/cleanup_data/check_broken_submission_files.py
Due: none

test(settings): pin whitespace-only AWS_S3_CUSTOM_DOMAIN as blank
  tests/unit/settings/test_storage_domain.py
Due: none

feat(settings): allow storage URLs to be pointed at a CDN via config (#5210)
  settings/prod.py
  tests/unit/settings/__init__.py
  tests/unit/settings/test_storage_domain.py
Due: Core Configuration

fix(dev): seed a development-sized dataset instead of a load-testing one
  apps/base/management/commands/seed.py
  docker/dev/docker.env
  scripts/seed.py
  tests/unit/base/test_seed_command.py
Due: backend, Utility Functions

refactor(dev): make 10 challenges the seed default rather than an override
  apps/base/management/commands/seed.py
  docker/dev/docker.env
  scripts/seed.py
  tests/unit/base/test_seed_command.py
Due: backend, Utility Functions

fix(dev): validate SEED_SUBMISSIONS_PER_CHALLENGE instead of trusting int()
  scripts/seed.py
  tests/unit/base/test_seed_script.py
Due: none

fix(dev): seed a development-sized dataset instead of a load-testing one (#5211)
  apps/base/management/commands/seed.py
  docker/dev/docker.env
  scripts/seed.py
  tests/unit/base/test_seed_command.py
  tests/unit/base/test_seed_script.py
Due: backend, Utility Functions

chore(lint): replace black, isort, flake8, autoflake and autopep8 with ruff
  .coderabbit.yaml
  .flake8
  .github/CONTRIBUTING.md
  .github/workflows/ci-cd.yml
  .landscape.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  apps/challenges/views.py
  apps/participants/views.py
  docs/source/04-development/contributing/code-standards.md
  docs/source/04-development/contributing/contribution-guide.md
  pyproject.toml
  requirements/dev.txt
  scripts/tools/cleanup_code.sh
  scripts/workers/remote_submission_worker.py
  settings/dev.py
  settings/prod.py
  settings/staging.py
  settings/test.py
  setup.cfg
  tests/unit/challenges/test_challenge_config_utils.py
  tests/unit/challenges/test_utils.py
  tests/unit/participants/test_views.py
Due: backend, Challenges Management, Participants & Teams, All Views, Core Configuration
