Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Enhance deployment script: Add server cleaning steps to prune Docker resources and system cache before stopping and removing containers. (#5039)
  scripts/deployment/deploy.sh
Due: none

Update deployment script to pull Nginx configuration specific to the current branch, enhancing the deployment process for different environments.
  scripts/deployment/push.sh
Due: none

Update deployment script to pull Nginx configuration specific to the current branch, enhancing the deployment process for different environments. (#5042)
  scripts/deployment/push.sh
Due: none

Update submission worker to enhance message retrieval and processing efficiency (#5046)
  scripts/workers/submission_worker.py
  tests/unit/worker/test_submission_worker.py
Due: none

Remove unused remote evaluation references from sender and submission worker scripts to clean up the codebase and improve maintainability.
  apps/jobs/sender.py
  scripts/workers/submission_worker.py
Due: backend, Job Processing

Add dynamic OG/Twitter meta tags for challenge sharing using ngMeta
  apps/challenges/views.py
  bower.json
  frontend/app.scripts.json
  frontend/base.html
  frontend/src/js/app.js
  frontend/src/js/controllers/challengeCtrl.js
Due: backend, frontend, Challenges Management, Frontend (Gulp), All Views

Add unique constraint to StarChallenge model and implement deduplication logic
  apps/challenges/migrations/0120_remove_duplicate_star_challenges_and_add_unique_constraint.py
  apps/challenges/models.py
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Models, All Views

Backend: Add unique constraint to StarChallenge model and implement deduplication logic (#5053)
  apps/challenges/migrations/0120_remove_duplicate_star_challenges_and_add_unique_constraint.py
  apps/challenges/models.py
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Models, All Views

Backend: Enhance password reset logic in CustomPasswordResetSerializer (#5054)
  apps/accounts/serializers.py
  apps/base/utils.py
  tests/unit/accounts/test_serializers.py
  tests/unit/accounts/test_views.py
  tests/unit/base/test_get_user_by_email.py
Due: backend, Accounts & Authentication, All Serializers, Utility Functions

Enhance submission limit handling in job utilities and views
  apps/jobs/utils.py
  apps/jobs/views.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, All Views, Utility Functions

Backend: Enhance submission limit handling in job utilities and views (#5055)
  apps/jobs/utils.py
  apps/jobs/views.py
  tests/unit/jobs/test_utils.py
Due: backend, Job Processing, All Views, Utility Functions

Backend: Add Fargate Spot configuration to Challenge model and update service creation logic
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0121_add_fargate_spot_fields.py
  apps/challenges/models.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

Backend: Update unit tests to include 'use_fargate_spot' attribute in Challenge model and service creation logic
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_aws_utils.py
Due: none

Backend: Add Fargate Spot configuration to Challenge model and update service creation logic (#5056)
  apps/challenges/admin.py
  apps/challenges/aws_utils.py
  apps/challenges/migrations/0121_add_fargate_spot_fields.py
  apps/challenges/models.py
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, All Models, Utility Functions

Backend: Enhance email validation in EvalAIAccountAdapter to reject role-based, disposable, and typo'd addresses. (#5057)
  apps/accounts/adapter.py
  requirements/common.txt
  tests/unit/accounts/test_adapter.py
Due: backend, Accounts & Authentication

Update autoupdate.yaml
  .github/workflows/autoupdate.yaml
Due: none

Add example environment configuration file
  .env.example
Due: none

Add test for serializer invalidation without title
  tests/unit/challenges/test_serializers.py
Due: none

Update apps/web/templates/notification_email_data.html
  apps/web/templates/notification_email_data.html
Due: backend, Web Interface

Backend: Fix slow DB query in remaining_submissions endpoint by removing redundant self-join
  apps/jobs/migrations/0027_add_composite_indexes_to_submission.py
  apps/jobs/models.py
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Models, All Views

🚀 PR: Migrate CI from Travis CI to GitHub Actions (#5070)
  .dockerignore
  .github/CONTRIBUTING.md
  .github/workflows/continuous-integration-and-deployment.yml
  .travis.yml
  README.md
  docs/source/04-development/contributing/contribution-guide.md
  docs/source/contribution.rst
  karma.conf.js
  scripts/deployment/deploy.sh
  scripts/deployment/deploy_ec2_worker.sh
  scripts/deployment/push.sh
Due: none

Add Codecov upload workflow and refactor CI for coverage reporting
  .github/workflows/codecov-upload.yml
  .github/workflows/continuous-integration-and-deployment.yml
Due: none

Update CI/CD workflow and documentation for improved deployment process
  .github/CONTRIBUTING.md
  .github/workflows/ci-cd.yml
  .github/workflows/codecov-upload.yml
  README.md
Due: none

Refactor CI/CD workflow to enhance code quality checks and Docker caching
  .github/workflows/ci-cd.yml
  docker/docker-compose.ci-cache.yml
Due: none

Add Codecov upload workflow and refactor CI for coverage reporting (#5071)
  .github/CONTRIBUTING.md
  .github/workflows/ci-cd.yml
  .github/workflows/codecov-upload.yml
  README.md
  docker/docker-compose.ci-cache.yml
Due: none

Refactor CI/CD workflow to integrate Codecov uploads directly into the main CI process
  .github/CONTRIBUTING.md
  .github/workflows/ci-cd.yml
  .github/workflows/codecov-upload.yml
Due: none

Enhance CI/CD workflow to verify coverage files before artifact upload
  .github/workflows/ci-cd.yml
Due: none

Add CI setup action and refactor CI/CD workflow for improved environment configuration
  .github/actions/ci-setup/action.yml
  .github/workflows/ci-cd.yml
  .github/workflows/upload-coverage.yml
Due: none

Refactor CI/CD workflow to separate backend and frontend test jobs
  .github/workflows/ci-cd.yml
Due: none

Enhance upload-coverage workflow to report status back to triggering commit
  .github/workflows/upload-coverage.yml
Due: none

Refactor CI/CD workflow to integrate Codecov uploads directly into the main CI process (#5072)
  .github/CONTRIBUTING.md
  .github/actions/ci-setup/action.yml
  .github/workflows/ci-cd.yml
  .github/workflows/codecov-upload.yml
  .github/workflows/upload-coverage.yml
Due: none

Add step to list downloaded artifacts in upload-coverage workflow
  .github/workflows/upload-coverage.yml
Due: none

Add step to list downloaded artifacts in upload-coverage workflow (#5073)
  .github/workflows/upload-coverage.yml
Due: none

Update upload-coverage workflow to simplify coverage file paths
  .github/workflows/upload-coverage.yml
Due: none

Update upload-coverage workflow to simplify coverage file paths (#5074)
  .github/workflows/upload-coverage.yml
Due: none

Backend: Fix slow DB query in remaining_submissions endpoint by removing redundant self-join (#5069)
  apps/jobs/migrations/0027_add_composite_indexes_to_submission.py
  apps/jobs/models.py
  apps/jobs/views.py
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Models, All Views

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
