Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py

Chore: herf Update broken cloudcv.org URLs to eval.ai across codebase
  CODE_OF_CONDUCT.md
  apps/accounts/templates/account/email_confirm.html
  docs/source/02-for-challenge-hosts/hosting-guide/host-challenge.md
  frontend/src/views/web/about-us.html
  frontend/src/views/web/auth/auth.html
  frontend/src/views/web/challenge/evaluation.html
  frontend/src/views/web/challenge/manage.html
  frontend/src/views/web/get-involved.html
  frontend/src/views/web/partials/dashboard-footer.html
  frontend/src/views/web/partials/footer.html
  frontend/src/views/web/privacy-policy.html
  frontend_v2/src/app/components/about/about.component.html
  frontend_v2/src/app/components/auth/auth.component.html
  frontend_v2/src/app/components/challenge/challenge.component.html
  frontend_v2/src/app/components/challenge/challengesettings/challengesettings.component.html
  frontend_v2/src/app/components/get-involved/get-involved.component.html
  frontend_v2/src/app/components/nav/footer/footer.component.html
  frontend_v2/src/app/components/privacy-policy/privacy-policy.component.html
  settings/common.py
  settings/prod.py
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp), Core Configuration

style: auto-format code with black and isort
  apps/challenges/tests/test_purge_submission.py
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

fix: pin PyYAML to <6.0 to resolve docker-compose conflict
  requirements/worker_py3_9.txt
Due: none

fix: pin PyYAML for python 3.8 and 3.7 workers
  requirements/worker_py3_7.txt
  requirements/worker_py3_8.txt
Due: none

feat: add purge submission button and fix linting errors
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

chore: force trigger ci build
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Fix #4826 : Documentation page for Docker setup
  TEST_RESULTS_SUMMARY.md
  docs/source/01-getting-started/setup/docker-setup.md
Due: none

Delete TEST_RESULTS_SUMMARY.md
  TEST_RESULTS_SUMMARY.md
Due: none

docs: update docker setup troubleshooting and CI guidance
  docs/source/01-getting-started/setup/docker-setup.md
Due: none

Update Twitter icon class to 'fa fa-x-twitter'
  frontend/src/views/web/partials/footer.html
Due: frontend, Frontend (Gulp)

Fix #4826 : Documentation page for Docker setup
  docs/source/01-getting-started/setup/docker-setup.md
Due: none

docs: Add npm engine warnings documentation to docker-setup.md
  docs/source/01-getting-started/setup/docker-setup.md
Due: none

fix: Remove duplicate Port 8888 section in docker-setup.md
  docs/source/01-getting-started/setup/docker-setup.md
Due: none

Refactor field change helper and document pytest config note
  apps/base/utils.py
  docs/source/01-getting-started/setup/docker-setup.md
Due: backend, Utility Functions

baseline-submission
  docs/source/02-for-challenge-hosts/README.md
  docs/source/02-for-challenge-hosts/baseline-submissions.md
  docs/source/02-for-challenge-hosts/hosting-guide/index.md
  docs/source/02-for-challenge-hosts/templates/index.md
Due: none

Refactor: Improve Pylint score for challenges/models.py to 9.54
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

Style: Auto-format code with Black and Isort
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

Style: Fix all line length violations for PEP8 compliance
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

Refactor: Auto-remove unused imports and enforce strict PEP8
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

Style: Correctly group first-party imports for CI compliance
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

Style: Revert manual import sorting to match CI defaults
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

Style: Final Pylint score 9.80 and isort bypass tags
  apps/challenges/models.py
Due: backend, Challenges Management, All Models

feat: Add purge submission queue feature for challenge hosts
  apps/jobs/urls.py
  apps/jobs/views.py
  frontend_v2/src/app/components/challenge/challengesettings/challengesettings.component.html
  frontend_v2/src/app/components/challenge/challengesettings/challengesettings.component.scss
  frontend_v2/src/app/components/challenge/challengesettings/challengesettings.component.ts
  frontend_v2/src/app/services/endpoints.service.ts
  tests/unit/jobs/test_views.py
Due: backend, Job Processing, All Views

UI: Updated Twitter logo to X logo on auth pages
  apps/accounts/templates/account/email_confirm.html
  frontend/src/views/web/auth/auth.html
  frontend/src/views/web/partials/dashboard-footer.html
  frontend/src/views/web/partials/footer.html
  frontend_v2/src/app/components/auth/auth.component.html
  frontend_v2/src/app/components/nav/footer/footer.component.html
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp)

Fix: Collapse SVG to single line to pass linting
  apps/accounts/templates/account/email_confirm.html
  frontend/src/views/web/auth/auth.html
  frontend/src/views/web/partials/dashboard-footer.html
  frontend/src/views/web/partials/footer.html
  frontend_v2/src/app/components/auth/auth.component.html
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp)

formatted the changed files
  apps/accounts/templates/account/email_confirm.html
  frontend/src/views/web/auth/auth.html
  frontend/src/views/web/partials/dashboard-footer.html
  frontend/src/views/web/partials/footer.html
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp)

Update social media icons in email confirmation and authentication templates to use the new X logo
  apps/accounts/templates/account/email_confirm.html
  frontend/src/images/logo-black.png
  frontend/src/images/logo-white.png
  frontend/src/images/logo.svg
  frontend/src/views/web/auth/auth.html
  frontend/src/views/web/partials/dashboard-footer.html
  frontend/src/views/web/partials/footer.html
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp)

Fix seed script crash in non-interactive environments
  scripts/seed.py
Due: none

Fix CI: pin PyYAML <6 to satisfy docker-compose dependency
  .travis.yml
Due: none

Chaged the font awesome version from 4.7 to 6.5.1 and the class of twitter logo
  apps/accounts/templates/account/email_confirm.html
  frontend/src/views/web/auth/auth.html
  frontend/src/views/web/partials/dashboard-footer.html
  frontend/src/views/web/partials/footer.html
  frontend_v2/src/app/components/auth/auth.component.html
  frontend_v2/src/app/components/nav/footer/footer.component.html
  frontend_v2/src/index.html
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp)

Fix CI: pin cfn-lint to avoid PyYAML 6 conflict
  .travis.yml
Due: none

Fix CI: enforce PyYAML<6 via constraints to prevent docker-compose failure
  constraints.txt
  docker/dev/django/Dockerfile
  docker/dev/worker_py3_7/Dockerfile
  docker/dev/worker_py3_8/Dockerfile
  docker/dev/worker_py3_9/Dockerfile
  requirements/common.txt
  requirements/worker_py3_9.txt
Due: none

Enforce LF line endings for shell scripts to prevent Docker startup issues on Windows
  evalai/.gitattributes
Due: backend, Core Configuration

Fix: Add fallback hash for scikit-learn to unblock CI
  requirements/worker_py3_8.txt
Due: none

Fix #4166: Allow deletion of challenge phases during update
  apps/challenges/challenge_config_utils.py
  tests/unit/challenges/test_challenge_config_utils.py
Due: backend, Challenges Management

Add pagination to challenge lists
  frontend_v2/package.json
  frontend_v2/src/app/components/home/home.component.scss
  frontend_v2/src/app/components/nav/footer/footer.component.scss
  frontend_v2/src/app/components/not-found/not-found.component.scss
  frontend_v2/src/app/components/publiclists/challengelist/challengelist.component.html
  frontend_v2/src/app/components/publiclists/challengelist/challengelist.component.scss
  frontend_v2/src/app/components/publiclists/challengelist/challengelist.component.ts
  frontend_v2/src/app/components/utility/input/input.component.ts
  frontend_v2/yarn.lock
Due: none

Fix auth token not updating in UI after re-login
  frontend_v2/src/app/components/auth/login/login.component.ts
Due: none

Fix auth token not updating in UI after re-login
  frontend_v2/src/app/services/global.service.ts
Due: none

Fix #4848: Prevent seed script crash in non-interactive environments
  .gitattributes
  docs/make.bat
  frontend/tests/controllers-test/ChallengeInviteCtrl.test.js
  frontend/tests/controllers-test/challengeCtrl.test.js
  frontend/tests/controllers-test/challengeHostTeamsCtrl.test.js
  frontend/tests/controllers-test/challengeListCtrl.test.js
  scripts/seed.py
Due: frontend, Frontend (Gulp)
