Repository Cloud-CV/EvalAI: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions, Core Configuration

Dev Setup: Update Dockerfile and dev requirements to include git and pre-commit (#5012)
  docker/dev/django/Dockerfile
  requirements/dev.txt
Due: none

Backend + Frontend: Add feature to freeze/unfreeze challenge start and end dates (#5011)
  apps/challenges/admin.py
  apps/challenges/migrations/0117_add_challenge_is_frozen_field_to_prevent_hosts_changing_start_end_dates.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/challenge-page.html
  frontend/src/views/web/challenge/edit-challenge/edit-challenge-date.html
  tests/unit/challenges/test_admin.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
Due: backend, frontend, Challenges Management, Frontend (Gulp), All Models, All Views, All Serializers

Harden file_url handling to prevent SSRF and internal data exfiltration
  apps/jobs/utils.py
Due: backend, Job Processing, Utility Functions

Fix: update get_file_from_url unit test after SSRF hardening (mock status_code, headers, raise_for_status)
  tests/unit/jobs/test_utils.py
Due: none

Backend: Implement auto-scaling and cleanup for ECS services in challenges
  .flake8
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  apps/challenges/task_definitions.py
  apps/challenges/urls.py
  apps/challenges/views.py
  apps/jobs/views.py
  scripts/lambda/challenge_cleanup_lambda.py
  scripts/lambda/worker_oom_handler_lambda.py
  scripts/migration/setup_autoscaling_existing_challenges.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/lambda/__init__.py
  tests/unit/lambda/test_worker_oom_handler_lambda.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, Utility Functions

Improve error handling in challenge cleanup lambda by logging specific error codes for task definition and log group deletions. This enhances visibility into skipped operations during cleanup.
  scripts/lambda/challenge_cleanup_lambda.py
Due: none

fix: harden Dockerfile apt-get against stale cache failures
  docker/dev/django/Dockerfile
Due: none

Add unit tests to skip auto-scaling and cleanup operations in DEBUG mode
  tests/unit/challenges/test_aws_utils.py
Due: none

Backend: Optimize challenge submission metrics retrieval query
  apps/challenges/views.py
  tests/unit/challenges/test_views.py
Due: backend, Challenges Management, All Views

Fix black
  tests/unit/challenges/test_views.py
Due: none

Fix: Enforce permissions check on challenge creation (#4859)
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Fix permissions and update tests for zip creation
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Backend: Implement auto-scaling and cleanup for ECS services in challenges (#5014)
  .flake8
  apps/challenges/aws_utils.py
  apps/challenges/models.py
  apps/challenges/task_definitions.py
  apps/challenges/urls.py
  apps/challenges/views.py
  apps/jobs/views.py
  scripts/lambda/challenge_cleanup_lambda.py
  scripts/lambda/worker_oom_handler_lambda.py
  scripts/migration/setup_autoscaling_existing_challenges.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_views.py
  tests/unit/jobs/test_views.py
  tests/unit/lambda/__init__.py
  tests/unit/lambda/test_worker_oom_handler_lambda.py
Due: backend, Challenges Management, Job Processing, All Models, All Views, Utility Functions

Update contact email addresses throughout the project to reflect the new EvalAI team email. (#5020)
  CODE_OF_CONDUCT.md
  apps/base/utils.py
  apps/challenges/aws_utils.py
  apps/challenges/challenge_notification_util.py
  apps/challenges/utils.py
  apps/challenges/views.py
  apps/web/views.py
  docs/source/02-for-challenge-hosts/hosting-guide/host-challenge.md
  frontend/src/views/web/challenge/evaluation.html
  frontend/src/views/web/challenge/manage.html
  frontend/src/views/web/get-involved.html
  frontend/src/views/web/privacy-policy.html
  settings/common.py
  settings/prod.py
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_challenge_notification_util.py
  tests/unit/challenges/test_utils.py
Due: backend, frontend, Challenges Management, Web Interface, Frontend (Gulp), All Views, Utility Functions, Core Configuration

Rename migration
  apps/challenges/migrations/0118_challenge_sqs_visibility_timeout.py
Due: backend, Challenges Management

Update failing test
  tests/unit/base/test_utils.py
Due: none

Refactor email notification settings in update_evaluation_module_error to use DEFAULT_FROM_EMAIL instead of CLOUDCV_TEAM_EMAIL for improved consistency in email communication.
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Enhance evaluation module error handling by updating worker configuration fields and sending email notifications (#5021)
  apps/challenges/views.py
  scripts/lambda/worker_oom_handler_lambda.py
  tests/unit/challenges/test_views.py
  tests/unit/lambda/test_worker_oom_handler_lambda.py
Due: backend, Challenges Management, All Views

Update djangorestframework-expiring-authtoken version to 0.1.4 in common requirements file
  requirements/common.txt
Due: none

Update Travis CI configuration to include Docker build step for Django service to ensure proper environment setup before running tests.
  .travis.yml
Due: none

Fix logout request handling in ExpiringTokenAuthentication to use the correct request attribute. This change ensures proper logout behavior on authentication failure.
  apps/accounts/authentication.py
  frontend/src/js/app.js
  frontend/tests/authFailureInterceptor.test.js
Due: backend, frontend, Accounts & Authentication, Frontend (Gulp)

Enhance unit tests for authFailureInterceptor by ensuring $rootScope.$apply() is called after asynchronous operations. This change improves test reliability for handling authentication failures.
  frontend/tests/authFailureInterceptor.test.js
Due: frontend, Frontend (Gulp)

Implement custom ExpiringTokenAuthentication to handle invalid/expired tokens gracefully and log out users on authentication failure. (#5017)
  apps/accounts/authentication.py
  apps/accounts/views.py
  apps/analytics/views.py
  apps/challenges/views.py
  apps/hosts/views.py
  apps/jobs/views.py
  apps/participants/views.py
  frontend/src/js/app.js
  frontend/tests/authFailureInterceptor.test.js
  settings/common.py
  tests/unit/accounts/test_authentication.py
Due: backend, frontend, Accounts & Authentication, Challenges Management, Job Processing, Participants & Teams, Challenge Hosts, Analytics, Frontend (Gulp), All Views, Core Configuration

Fix: Prevent negative seconds in submission countdown timer
  frontend/src/js/controllers/challengeCtrl.js
Due: frontend, Frontend (Gulp)

Add file content comparison utility to check for changes in Django FileField values
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Add file content comparison utility to check for changes in Django FileField values (#5026)
  apps/challenges/aws_utils.py
  tests/unit/challenges/test_aws_utils.py
Due: backend, Challenges Management, Utility Functions

Enhance challenge approval process by adding is_approval_requested field to prevent duplicate subscription plan emails.
  apps/base/utils.py
  apps/challenges/aws_utils.py
  apps/challenges/challenge_notification_util.py
  apps/challenges/migrations/0118_add_is_approval_requested_to_challenge.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  apps/web/views.py
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/challenge-page.html
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_challenge_notification_util.py
  tests/unit/challenges/test_views.py
  tests/unit/web/test_views.py
Due: backend, frontend, Challenges Management, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions

Refactor challenge approval process to use serializer for updating is_approval_requested field, improving data validation and error handling.
  apps/challenges/views.py
Due: backend, Challenges Management, All Views

Update ACCOUNT_EMAIL_VERIFICATION setting to mandatory in common.py for improved email confirmation process.
  settings/common.py
Due: Core Configuration

Add tests for is_approval_requested field in Challenge model and serializer
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
Due: none

Enhance challenge approval process by adding is_approval_requested field to prevent duplicate subscription plan emails. (#5027)
  apps/base/utils.py
  apps/challenges/aws_utils.py
  apps/challenges/challenge_notification_util.py
  apps/challenges/migrations/0118_add_is_approval_requested_to_challenge.py
  apps/challenges/models.py
  apps/challenges/serializers.py
  apps/challenges/views.py
  apps/web/views.py
  frontend/src/js/controllers/challengeCtrl.js
  frontend/src/views/web/challenge/challenge-page.html
  tests/unit/challenges/test_aws_utils.py
  tests/unit/challenges/test_challenge_notification_util.py
  tests/unit/challenges/test_models.py
  tests/unit/challenges/test_serializers.py
  tests/unit/challenges/test_views.py
  tests/unit/participants/test_views.py
  tests/unit/web/test_views.py
Due: backend, frontend, Challenges Management, Web Interface, Frontend (Gulp), All Models, All Views, All Serializers, Utility Functions

Path conditions:
  backend: any of: evalai/, apps/
  frontend: any of: frontend/
  Accounts & Authentication: any of: apps/accounts/**
  Challenges Management: any of: apps/challenges/**
  Job Processing: any of: apps/jobs/**
  Participants & Teams: any of: apps/participants/**
  Challenge Hosts: any of: apps/hosts/**
  Analytics: any of: apps/analytics/**
  Web Interface: any of: apps/web/**
  Frontend (Gulp): any of: frontend/**
  All Models: any of: **/models.py
  All Views: any of: **/views.py
  All Serializers: any of: **/serializers.py
  Utility Functions: any of: **/utils.py, **/aws_utils.py, apps/base/**
  Core Configuration: any of: evalai/**, settings/**, *.py
